body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: $default-font-size;
  font-size: 16px;
  // line-height: 1.7rem;
  // color: $color-grey--dark;
}


.heading-primary {
  color: black;
  font-family: $font-header;
  // line-height: 3rem;

  // @include respond(tab-port) {
  //   line-height: 4rem;
  // }

  &--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: underline;
    // letter-spacing: 3.5rem;
    margin-bottom: -1rem;

    @include respond(tab-port) {
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    // letter-spacing: 1.1rem;

    
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
}

.heading-secondary {
  font-family: $font-header;
  color: $color-primary;
  font-size: 3rem;
  margin-top: 2rem;

  &--main {
   
  }

  &--sub {
    display: block;
    text-decoration: overline;
  }
}

.heading-tertiary {
  font-family: $font-nav;
  color: $color-primary;
  font-size: 2.5rem;
  margin:  3rem;
  text-align: center;

  &--main {
   
  }

  &--sub {
    display: block;
    text-decoration: overline;
  }
}