// COLORS
$color-primary: rgb(119, 31, 9);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary-light: yellow;
$color-secondary-dark: darken($color-secondary-light, 15%);

// $color-tertiary-light: 
// $color-tertiary-dark: 

$color-white: white;
$color-white-soft: darken(white, 10);
$color-black: black;

// darker to lighter
$color-grey-light-1: grey;
$color-grey-light-2: lighten($color-grey-light-1, 15%);
$color-grey-light-3: lighten($color-grey-light-2, 25%);

// lighter to darker
$color-grey-dark-1: lighten($color-black, 10);
$color-grey-dark-2: lighten($color-black, 5);
$color-grey-dark-3: lighten($color-black, 2);
// $color-grey-dark-2: 
// $color-grey-dark-3: 



$color-red: rgb(119, 31, 9);

// FONT

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$default-font-size: 1.6rem;

// Application Fonts
$font-header: 'Cinzel Decorative', cursive; 
$font-nav: 'Yatra One', cursive;
$font-author: 'Berkshire Swash', cursive;

// Content Fonts
$font-header-2: 'Bebas Neue', cursive;
$font-typewriter: 'Courier New', Courier, monospace;
$font-tarroka: 'Patrick Hand SC', cursive;

$font-display: 'Staatliches', sans-serif;
$font-clean: 'Lato', sans-serif;

// Handwriting Fonts
$font-strahd: 'Pinyon Script', cursive;
$font-sergei: 'Zeyada', cursive;
$font-safzira: 'Satisfy', cursive;
$font-ireena: 'Dancing Script', cursive;




// BORDER-RADIUS
// $border-radius-default: 

// Box Shadow
$box-shadow-dark: 5px 5px 5px $color-black;
$box-shadow-highlight: 5px 5px 5px $color-grey-light-1;
$box-shadow-tarroka: 5px 5px 5px #c68932;


// GRID - Am I actually using this?
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;