// COLORS
$color-primary: rgb(119, 31, 9);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 20%);

// $color-seconday-light: 
// $color-secondary-dark: 

// $color-tertiary-light: 
// $color-tertiary-dark: 

// $color-grey-light-1: 
// $color-grey-light-2: 

// $color-grey-dark-1: 
// $color-grey-dark-2: 
// $color-grey-dark-3: 

$color-black: white;
$color-white: black;

$color-red: rgb(119, 31, 9);

// FONT
$default-font-size: 1.6rem;

// BORDER-RADIUS
// $border-radius-default: 

// GRID