// COLORS
$color-primary: rgb(119, 31, 9);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary-light: yellow;
$color-secondary-dark: darken($color-secondary-light, 15%);

// $color-tertiary-light: 
// $color-tertiary-dark: 

// $color-grey-light-1: 
$color-grey-light-2: grey;

// $color-grey-dark-1: grey;
// $color-grey-dark-2: 
// $color-grey-dark-3: 

$color-white: white;
$color-black: black;

$color-red: rgb(119, 31, 9);

// FONT

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

$default-font-size: 1.6rem;

$font-header: 'Cinzel Decorative', cursive; 
$font-header-2: 'Bebas Neue', cursive;
$font-nav: 'Yatra One', cursive;

$font-strahd: 'Pinyon Script', cursive;


// BORDER-RADIUS
// $border-radius-default: 

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;