.adventure {

  &__head {
    color: white;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__slider-button-box {
    position: relative;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    

    @include respond(desktop) {
      height: 50rem;
    }

    &:hover .adventure__nav-icon{
      opacity: .5;
    }
  }

  &__nav-icon {
    display: none;

    @include respond(tab-port) {
      display: inline;
      z-index: 10;
      font-size: 32px;
      width: 5rem;
      height: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all .5s;

      @include respond(desktop) {
        height: 45rem;
      }

      &:hover {
        opacity: 0.8;
      }

      &:hover .adventure__icon {
        transform: scale(1.1);
        color: $color-primary-light;
      }

      background-color: $color-black;
  
      &--left {
        position: absolute;
        left: 0%;
      }
  
      &--right {
        position: absolute;
        right: 0%;
      }
    }

  }

  &__icon {
    color: $color-primary;
    transition: .25s;
    
    // &:hover {
    //   opacity: .8;
    //   transform: scale(1.1);
    //   color: $color-primary-light;
    // }
  }

  &__main {
    width: 100%;
    margin: 0;
    // padding: 3rem;
    // position: relative;
    height: 65rem;

    @include respond(desktop) {
      height: 60rem;
    }

    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: visible;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__card {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
    // margin-top: rem;
    height: 60rem;
    min-width: 40rem;
  
    border-radius: 3px;
  
    @include respond(tab-land) {
      // margin-top: 5rem;
      height: 60rem;
      min-width: 45rem;
  
      &:hover {
        transform: scale(1.05);
        transition: .5s;
        box-shadow: 0 2rem 5rem rgba($color-primary-light, 0.5);
        z-index: 5;
      }
    }
  
    @include respond(desktop) {
      margin-top: 0;
      height: 40rem;
      min-width: 30rem;
    }
  
    @include respond(desktop-big) {
      margin-top: 0;
      height: 45rem;
      min-width: 35rem;
    }
  
    &-text-box {
      font-family: $font-header-2;
      
      width: 100%;
      background-image: linear-gradient(
        to right top,
        rgba($color-primary-light, 0.8),
        rgba(black, 0.8)
      );
      padding: 2rem;

      // Remove Highlight Select
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  
  
      &--main {
        display: block;
        font-size: 3rem;
      }
  
      &--sub {
        display: block;
        font-size: 1.5rem;

        &-num {
          color: $color-primary-dark;
        }
      }
    }
  
    &--1{
      background-image: 
        url("https://i.imgur.com/v0UJOI8.png");
      background-position: center;
      background-size: cover;
    }
  
    &--2{
      background-image:  
        url("https://i.imgur.com/n5ktd93.png");
      background-position: center;
    }
  
    &--3{
      background-image:  
        url("https://i.imgur.com/4TAGQ2R.jpg");
      background-position: center;
      background-size: cover;
    }
  
    &--4{
      background-image:  
        url("https://i.imgur.com/Z3CS9zj.png");
      background-position: left;
    }

    &--5{
      background-image:  
        url("https://i.imgur.com/fgPPAfM.png");
      background-position: bottom;
    }

    &--6{
      background-image:  
        url("https://i.imgur.com/G2pd6iZ.jpg");
      background-position: bottom;
      background-size: cover;
    }

    &--7{
      background-image:  
        url("https://i.imgur.com/RXoVXmW.png");
      background-position: center;
      background-size: cover;
    }

    &--8{
      background-image:  
        url("https://i.imgur.com/4iLw0nC.png");
      background-position: center;
      background-size: cover;
    }

    &--9{
      background-image:  
        url("https://i.imgur.com/9hhPNLe.png");
      background-position: center;
      background-size: cover;
    }

    &--10{
      background-image:  
        url("https://i.imgur.com/BhKS1uC.png");
      background-position: center;
      background-size: cover;
    }

    &--11{
      background-image:  
        url("https://i.imgur.com/pb4SaMI.png");
      background-position: center;
      background-size: cover;
    }

    &--12{
      background-image:  
        url("https://i.imgur.com/MPP8A9i.png");
      background-position: left;
      background-size: cover;
    }

    &--13{
      background-image:  
        url("https://i.imgur.com/KeeYsZy.jpg");
      background-position: left;
      background-size: cover;
    }

    &--14{
      background-image:  
        url("https://i.imgur.com/RztDbSi.png");
      background-position: center;
      background-size: cover;
    }

    &--15{
      background-image:  
        url("https://i.imgur.com/I3Gc3uT.png");
      background-position: center;
      background-size: cover;
    }

    &--16{
      background-image:  
        url("https://i.imgur.com/qIbqsK8.png");
      background-position: center;
      background-size: cover;
    }

    &--17{
      background-image:  
        url("https://i.imgur.com/Zs0iM18.png");
      background-position: center;
      background-size: cover;
    }

    &--17{
      background-image:  
        url("https://i.imgur.com/zciYECT.png");
      background-position: center;
      background-size: cover;
    }

    &--18{
      background-image:  
        url("https://i.imgur.com/y2eHL8S.png");
      background-position: center;
      background-size: cover;
    }

    &--19{
      background-image:  
        url("https://i.imgur.com/Bev2dep.png");
      background-position: center;
      background-size: cover;
    }

    &--20{
      background-image:
        url("https://i.imgur.com/G32pbKr.png");
      background-position: center;
      background-size: cover;
    }

    &--21{
      background-image:
        url("https://i.imgur.com/FyaVFjS.png");
      background-position: center;
      background-size: cover;
    }

    &--22 {
      background-image: 
        url("https://i.imgur.com/YBBNCMG.png");
      background-position: center;
      background-size: cover;
    }

    &--23 {
      background-image: 
        url("https://i.imgur.com/nNfX6Mw.png");
        // background-position: center;
        background-position-y: 20%;
        background-position-x: 10%;
        background-size: cover;
    }
  }

}