.feedback {
  background-color: red;

  background-color: #1e1e1e;

  text-align: center;

  &--title {
    color: white;
    padding: 3rem;
  }

  & iframe {
    background-color: $color-primary;
    border-radius: 1rem;
  }

}