.home {
  // border: 3px solid white;

  background-color: #1e1e1e;

  display: grid;
  grid-template-rows: [header-start] 50vh [header-end description-start] 50vh  [description-end most-recent-start] 150vh [most-recent-end tarroka-start] 40vh [tarroka-end death-house-start] 60vh [death-house-end bonus-start] 1fr [bonus-end footer-start] 40vh [footer-end];

  // grid-template-rows: [header-start] 50vh [header-end description-start] 70vh  [description-end most-recent-start] 82vh [most-recent-end tarroka-start] 70vh [tarroka-end death-house-start] 60vh [death-house-end bonus-start] 1fr [bonus-end footer-start] 40vh [footer-end];

  row-gap: 5rem;

  grid-template-columns: [page-horizontal-start] 2rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 2rem [home-horizontal-end];

  @include respond(tab-land) {
    grid-template-rows: [header-start] 50vh [header-end description-start] 70vh  [description-end most-recent-start] 82vh [most-recent-end tarroka-start] 70vh [tarroka-end death-house-start] 60vh [death-house-end bonus-start] 1fr [bonus-end footer-start] 40vh [footer-end];

    grid-template-columns: [page-horizontal-start] 5rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 5rem [home-horizontal-end];
  }

  @include respond(desktop){
    grid-template-columns: [page-horizontal-start] 10rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 10rem [home-horizontal-end];

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  }
  

  &__placeholder{

    &--1 {
      grid-column: 2 / 3;
      grid-row: tarroka-start / tarroka-end;
      background-color: orangered;
    }

    &--2 {
      grid-column: 2 / 3;
      grid-row: bonus-start / bonus-end;

      background-color: purple;
    }
  } 
}

// Description

.description {

  &--main {
    // Homepage Grid
    grid-column: 2 / 3;
    grid-row: description-start / description-end;

    background-image: 
      url("https://i.imgur.com/oW4ZCfa.png");
    background-size: cover;
    background-position: right;
  }

  &--tarroka {
    // Homepage Grid
    grid-column: 2 / 3;
    grid-row: tarroka-start / tarroka-end;

    background-image: 
      url("https://i.imgur.com/XSJtpVP.png");
    background-size: cover;
    background-position-y: 90%;

    transition: all .5s;

    &:hover {
      @include respond(tab-port) {
        // border: 3px solid $color-grey-light-1;
        box-shadow: $box-shadow-tarroka;
      }
    }
  }

  height: 70vh;
  border-radius: 1rem;
  box-shadow: $box-shadow-dark;

  &__flex-container {
    display: flex;
    flex-direction: column;
    padding: 5px;

    height: 100%;
    justify-content: flex-start;

    @include respond(desktop) {
      flex-direction: row;
    }
  }

  &__text-box {

    display: flex;
    justify-content: flex-start;
    padding-left: 5rem;
    justify-items: center;
    align-items: center;
    flex-grow: 2;
    color: white;

    // tarroka link
    text-decoration: none;
  }

  &__text-actual {
    max-width: 600px;
    text-align: center;
    font-family: $font-clean;
    font-size: 1.5rem;
    padding: 3rem;
    background-color: $color-grey-light-2;
    background-color: $color-black;
    border-radius: 1rem;
    transition: all .5s;

    opacity: 80%;

    &--tarroka {
      background-color: #752e1a;
    }
  }

  &__headline {
    color: white;
  }
}

// Most Recent Adventures

.recently {

  grid-column: 2 / 3;
  grid-row: most-recent-start / most-recent-end;

  display: grid;
  grid-template-rows: 10vh 70vh 70vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 1rem;

  @include respond(tab-land) {
    grid-template-rows: 10vh 70vh;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  height: 40rem;
  height: 100%;

  &__head {
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;

    height: 10vh;
    margin: 0 auto;
    line-height: 5vh;

    color: white;
  }
}

// Background Images for this component are found on the _adventure-log.scss file.
.most-recent {

  grid-row: 2 / 3;
  grid-column: 1 / 3 ;

  @include respond(tab-land){ 
    grid-column: 1 / 2;
  }

  border-radius: 5px;

  box-sizing:border-box;

  & a {
    text-decoration: none;
  }

  &__single {
    border-radius: 1rem;
    background-color: green;
    height: 100%;
    padding: 1rem;
    transition: all .5s;
    box-shadow: 5px 5px 5px $color-black;

    &:hover {

      @include respond(tab-land){ 
        box-shadow: 5px 5px 5px $color-grey-light-1;
      }
    }
  }

  &__text-box {
    background-color: grey;
    opacity: 80%;
    border-radius: .5rem;
    padding: 5px;

    color: white;
  }

  &__number {
    color: $color-primary;

    font-family: $font-header-2;
    font-size: 3rem;
  }

  &__title {
    color: white;

    font-family: $font-header-2;
    font-size: 3rem;
  }

  &__synopsis {
    display: block;
    font-size: 1.5rem;
  }
}

.less-recent {
  display: grid;

  grid-row: 3 / 4;
  grid-column: 1 / 3;

  @include respond(tab-land){ 
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  :not(:last-child) {
    margin-bottom: 1rem;
  }

  &__single {
    border-radius: 1rem;
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    background-color: green;
    transition: all .5s;
    box-shadow: 5px 5px 5px $color-black;

    &:hover {
      @include respond(tab-land){ 
        // border: 2px solid white;
        box-shadow: 5px 5px 5px $color-grey-light-1;
      }
    }

    &--all {
      background-image:  
        url("https://i.imgur.com/HGZzSIa.png");
      background-position: center;
      background-size: cover;
    }
  }

  &__text-box {
    background-color: grey;
    opacity: 80%;
    border-radius: .5rem;
    padding: 5px;
    display: inline-block;
    min-width: 30%;
    text-align: center;

    font-family: $font-header-2;
    font-size: 2rem;

  }

  &__number {
    color: $color-primary;
  }

  &__title {
    color: white;
  }
}

.death-house {
  background-color: purple;

  grid-column: main-content-start / main-content-end ;
  grid-row: death-house-start / death-house-end;

  border-radius: 1rem;

  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.7), 
    rgba($color-primary-dark, 0.7)), 
    url("https://i.imgur.com/ZzFQKI3.png");
  background-size: contain;
  background-position: top;

  text-decoration: none;
  color: white;

  box-shadow: $box-shadow-dark;
  transition: all .5s;

  &:hover {
    box-shadow: 5px 5px 5px rgba($color-primary-light, 0.7);
  }

  &__textbox {
    max-width: 600px;
    font-size: 1.5rem;
    margin: 7rem 5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: $color-grey-dark-1;
    opacity: .8;
  }

  &__title {
    color: white;
  }
}

.content-links {
  grid-row: bonus-start / bonus-end;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;

  @include respond(tab-port) {
    grid-template-columns: 5rem 1fr 5rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 10rem 1fr 10rem;
  }

  &__main {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  &__card {
    text-decoration: none;
    width: 40rem;
    max-width: 50rem;
    height: 30rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    transition: all .5s;
    box-shadow: $box-shadow-dark;
    background-color: black;
    flex-grow: 1;
    margin: 1rem;

    display: flex;
    justify-content: space-between;
    align-items:flex-end;

    &:hover {
      box-shadow: $box-shadow-highlight;
    }

    &--1 {
      background-image: linear-gradient(to bottom right,#40301d, #b18c58, #40301d);
      &:hover {
        box-shadow: 5px 5px 5px #e0ba77;
      }
    }

    &--2 {
      background-image: linear-gradient(to bottom right,#202425, #546958, #202425);
      &:hover {
        box-shadow: 5px 5px 5px #9baab1;
      }
    }

    &--3 {
      background-image: linear-gradient(to bottom right,#0c0c0c, #573421, #0c0c0c);
      &:hover {
        box-shadow: 5px 5px 5px #955e26;
      }
    }

    &--4 {
      background-image: linear-gradient(to bottom right,#4e2418, #d2ba9e, #4e2418);
      &:hover {
        box-shadow: 5px 5px 5px #c7a073;
      }
    }

    &--5 {
      background-image: linear-gradient(to bottom right,#292a49, #20230b, #292a49);
      &:hover {
        box-shadow: 5px 5px 5px #424917;
      }
    }

    &--6 {
      background-image: linear-gradient(to bottom right, #292924, #634f2f, #292924);
      &:hover {
        box-shadow: 5px 5px 5px #a7a89f;
      }
    }

    &--name {
      color: white;
      padding-left: 3rem;
      padding-bottom: 3rem;
      font-size: 3.5rem;
      font-family: $font-display;
    }
    

    &--img {
      width: 70%;
      height: 100%;
      background-image: 
        url("https://i.imgur.com/CiucFK9.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);

      &-1 {
        background-image: 
          url("https://i.imgur.com/G2pd6iZ.jpg");
        background-size: cover;
        background-position: center;
      }

      &-2 {
        background-image: 
          url("https://i.imgur.com/OVBsusR.png");
        background-size: cover;
        background-position: top;
      }

      &-3 {
        background-image: 
          url("https://i.imgur.com/YoAb0kL.png");
        background-size: cover;
        background-position-y: 10%;
      }

      &-4 {
        background-image: 
          url("https://i.imgur.com/r17tnaC.png");
        background-size: cover;
        background-position: center;
      }

      &-5 {
        background-image: 
          url("https://i.imgur.com/CiucFK9.jpg");
        background-size:auto;
        background-position-x: 30%;
        background-position-y: 50%;
      }

      &-6 {
        background-image: 
          url('https://i.imgur.com/mEaQFYR.png');
        background-size: cover;
        background-position: bottom;
      }
    }
  }
}