.location {


  &__quote {
    display: inline-block;
    text-align: center;
    font-family: $font-tarroka;
    font-size: 2rem;
    background-color: $color-grey-dark-2;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 70rem;
    margin: 0 auto;
  }

  & p {
    margin: 3rem 0;
  }
}

.gallery {
  border: 1px solid white;
  margin: 0 10rem;

  &__header {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem 2rem 2rem;
  }

  &__img {
    height: 20rem;
    width: 20rem;
    margin: auto;

    &-cap {
      text-align: center;
      background-color: red;
    }
    
    &-box {
      height: 25rem;
      width: 25rem;
      padding: 2.5rem;
      border: 1px solid white;
    }
  }



}