.location {

  &__title {
    padding-bottom: 2rem;
    // text-align: start;
    color: $color-white-soft;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    color: $color-white-soft;
    padding: 0 3rem;
    background-color: $color-primary;
    display: inline-block;


    font-size: 5rem;
  }


  &__quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font-clean;
    font-size: 2rem;
    background-color: $color-grey-dark-2;
    border-radius: 1rem;
    padding: 1rem;
    width: 70rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    position: relative;
    padding: 2rem;

    &--actual {
      margin: auto;
    }

    &--open {
      font-family: $font-quote;
      font-size: 13rem;
      color: $color-primary-light;
      position: absolute;
      
      top: 0%;
      left: -3%;
      line-height: 1rem;
    }

    &--closed {
      font-family: $font-quote;
      font-size: 13rem;
      color: $color-primary-light;
      color: green;
      position: absolute;
      bottom: 0%;
      right: -3%;
     
      transform: rotate(180deg)
    }
  }

  & p {
    margin: 3rem 0;
  }

  &__button {
    margin: 0 10rem;
  }
}

.gallery {
  border: 1px solid white;
  margin: 0 10rem;
  display: flex;
  flex-wrap: wrap;

  &__header {

    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem 2rem 2rem;
  }

  &__img {
    height: 20rem;
    width: 20rem;
    margin: auto;

    &-cap {
      text-align: center;
      background-color: red;
    }
    
    &-box {
      height: 25rem;
      width: 25rem;
      padding: 2.5rem;
      border: 1px solid white;
    }
  }
}