.quests {



  &-main {
    background-color: $color-grey-dark-3;
    padding: 2rem;
    border-radius: 1rem;
    height: 60rem;
    width: 120rem;

    // &__toolbar {

    // }

    &__flexbox {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

  }

  &__list {
    background-color: $color-grey-dark-3;
    width: 40%;
    max-height: 55rem;
    overflow: scroll;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      background-color: $color-grey-dark-1;
      border-radius: 5px;
      padding: 1rem;
      cursor: pointer;
      font-family: $font-display;
      font-size: 2rem;
      color: $color-white-soft;

      &:not(:first-child) {
        margin-top: .5rem;
      }
    }
  }

}

.selected {
  background-image: linear-gradient(
    to right bottom,
    rgba(darken($color-primary-light, 50%), 0.8),  
    rgba(darken($color-primary-dark, 50%), 0.8)),
    url('https://i.imgur.com/gBmNOuJ.png');
  background-size: cover;
  background-color: black;
  border-radius: 1rem;
  width: 60%;
  height: 55rem;
  overflow: scroll;
  padding: 1.5rem;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__placeholder {
    max-height: 50rem;
  }

  &__header {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-size: 3.5rem;
    background-color: $color-primary;
    // width: 50rem;
    display: inline-block;
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    color: $color-white-soft;
    padding: 0 3rem;
    margin: 2rem 0;
  }

  &__started,
  &__started:active,
  &__started:visited {
    display: block;
    text-align: none;
    color: white;
    text-decoration: none;
  }

  &__starting-hook {
    margin-top: 2rem;
  }

  &__completed {
    padding: 2rem;
    font-family: $font-quote;
    font-size: 2rem;
    text-align: center;
  }
}
