.treasures {
  position: relative;

  &-pop{
    height: 55rem;
    width: 80rem;
    background-color: black;
    border-radius: 1rem;
    z-index: 10;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    &__text {
      display: block;
      text-align: right;
      padding-right: 5rem;

      &--description {
        text-align: justify;
        margin-top: 1rem;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__header {
      color: white;
      // padding: .25rem;
      text-align: center;
      background-color: $color-primary;
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    }

    &__flexbox {
      display: flex;
      // border: 2px solid white;
      padding: 2rem;
      flex-direction: column;
      height: 80%;
      margin-top: 1rem;

      @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__img {
      width: 80%;
      border-radius: 3px;

      &-box {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__details-box {
      width: 50%;;
      padding-top: 6rem;
    }

  }

  &__table {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s;

    &--popup {
      animation: flipIn .25s ease 0s 1 normal forwards;
    }

    &--center {
      width: 40rem;
      height: 40rem;
      // display: grid;
      // grid-template-columns: repeat(3, 10rem);
      // grid-template-rows: repeat(3, 12rem);
      // row-gap: 3rem;
      // column-gap: 3rem;
    }

  }
}