.world-map {
  text-align: center;
  position: relative;
  height: 99rem;
  width: 145rem;
  margin: 3rem;

  background-image: 
    url("https://i.imgur.com/28ypbbJ.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__flexbox {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &__map {
    height: 100%;
  }

  &__pin {
    height: 2rem;
    width: 2rem;
    display: block;
    border: 1.5px solid white;
    border-radius: 50%;

    background-image: linear-gradient(
      to right bottom, 
      rgba(peru, 0.8),  
      rgba(#7a390f, 0.8));

    &:hover + span,
    &:hover ~ img {
      display: block;
    }
  }

  &__location-name {
    font-family: arial;
    color: black;
    background-color: darken($color-primary, 10);
    padding: 1rem;
    // opacity: 0;
    transition: all .3s;
    border-radius: 1rem 1rem 0 0;
    width: 18rem;
    display: none;
    font-family: $font-header;
    font-weight: bold;
    color: white;
    z-index: 10;
    position: relative;
  }

  &__img {
    // opacity: 0;
    width: 18rem;
    transition: all .3s;
    box-sizing: border-box;
    border: 3px solid darken($color-primary, 10);
    border-radius: 0 0 1rem 1rem;
    z-index: 10;
    position: relative;
    display: none;
  }

  &__coordinates {
    position: absolute;
    text-decoration: none;


    // Mists of Barovia
    &--1 {
      top: 5%;
      left: 10%;
    }

    // Old Svalich Road
    &--2 {
      top: 60%;
      left: 84%;
    }

    // Svalich Woods
    &--3 {
      top: 43%;
      left: 87%;
    }

    // River Ivlis
    // &--4 {
    //   top: 70%;
    //   left: 79%;
    // }

    // Village of Barovia
    &--4 {
      top: 61%;
      left: 79%;
    }

    // Tser Pool Encampment
    &--5 {
      top: 61%;
      left: 66%;
    }

    // Black Carriage
    &--6 {
      top: 46%;
      left: 61%;
    }

    // Castle Ravenloft
    &--7 {
      top: 52%;
      left: 70%;
    }

    // Old Mill
    &--8 {
      top: 43%;
      left: 50%;
    }

    // Vallaki
    &--9 {
      top: 33%;
      left: 41%;
    }

    // Vallaki Vistani Camp 
    &--10 {
      top: 36%;
      left: 39%;
    }

    // Lake Zarovich
    &--11 {
      top: 25%;
      left: 47%;
    }

    // Mount Baratok
    &--12 {
      top: 10%;
      left: 35%;
    }

    // Argonvostholt
    &--13 {
      top: 47%;
      left: 33%;
    }

    // Village of Krezk
    &--14 {
      top: 30%;
      left: 15%;
    }

    // Mount Ghakis
    &--15 {
      top: 80%;
      left: 47%;
    }

    // Tsolenka Pass
    &--16 {
      top: 72%;
      left: 27.5%;
    }

    // Ruins of Berez
    &--17 {
      top:  60%;
      left: 34%;
    }

    // Van Richten's Tower
    &--18 {
      top: 28%;
      left: 24%;
    }

    // Wizard of Wines
    &--19 {
      top: 47%;
      left: 12%;
    }

    // Amber Temple
    &--20 {
      top: 77%;
      left: 36%;
    }

    // Yester Hill
    &--21 {
      top: 63%;
      left: 7%;
    }


  }
}