@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 40%; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  background-color: black;
  color: #fff;
  box-sizing: border-box;
  padding: 0rem; }
  @media (min-width: 56.25em) {
    body {
      padding: 3rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7rem; }

.heading-primary {
  color: black;
  font-family: "Cinzel Decorative", cursive;
  line-height: 3rem; }
  @media (min-width: 37.5em) {
    .heading-primary {
      line-height: 4rem; } }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: underline; }
    @media (min-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600; }
    @media (min-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem; } }

.heading-secondary {
  font-family: "Cinzel Decorative", cursive;
  color: #771f09;
  font-size: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  padding: 2rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: black; }
    .card__side--back {
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 46rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: url("https://i.imgur.com/pG4NWum.png"); }
    .card__picture--2 {
      background-image: url("https://i.imgur.com/UNhjy3p.jpg"); }
    .card__picture--3 {
      background-image: url("https://i.imgur.com/2XF3c41.jpg");
      background-size: cover;
      background-position: center; }
    .card__picture--4 {
      background-image: url("https://i.imgur.com/KeeYsZy.jpg");
      background-position: center; }
    .card__picture--5 {
      background-image: url("https://i.imgur.com/dcGndjG.png"); }
  .card__heading {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    font-family: "Bebas Neue", cursive; }
  .card__description {
    height: 46rem;
    padding-left: 1rem; }
    .card__description--top {
      font-size: 4.5rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
      font-family: "Bebas Neue", cursive;
      line-height: 5rem;
      padding-top: 2rem; }
      .card__description--top span {
        display: block;
        font-size: 3rem; }
    .card__description--bottom {
      text-align: center;
      padding-top: 8rem; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; }
  .flexbox__item {
    width: 25rem; }

.header {
  height: 30vh;
  background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: 0 0;
  position: relative;
  border-radius: 3px;
  overflow: hidden; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }

.entry {
  line-height: 3rem;
  padding: 0 2rem; }
  .entry__title {
    font-size: 4rem;
    font-family: "Cinzel Decorative", cursive;
    margin: 2rem 0;
    text-align: center; }
  .entry__date {
    text-align: center;
    margin-bottom: 2rem; }
    .entry__date span {
      display: block; }
  .entry__details {
    margin-bottom: 2rem; }
