@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 40%; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  background-color: #1e1e1e;
  color: #fff;
  box-sizing: border-box;
  padding: 0rem; }
  @media (min-width: 56.25em) {
    body {
      padding: 3rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7rem; }

.heading-primary {
  color: black;
  font-family: 'Cinzel Decorative', cursive;
  line-height: 3rem; }
  @media (min-width: 37.5em) {
    .heading-primary {
      line-height: 4rem; } }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: underline; }
    @media (min-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600; }
    @media (min-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  height: 30vh;
  background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: 0 0;
  position: relative; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }
