@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@keyframes scaleDown {
  0% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 40%;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */ }
  html::-webkit-scrollbar {
    display: none; }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  background-color: #0d0d0d;
  color: #fff;
  box-sizing: border-box;
  padding: 0rem; }
  @media (min-width: 56.25em) {
    body {
      padding: 3rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.heading-primary {
  color: black;
  font-family: "Cinzel Decorative", cursive; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: -1rem; }
    @media (min-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600; }
    @media (min-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3rem; } }

.heading-secondary {
  font-family: "Cinzel Decorative", cursive;
  color: #771f09;
  font-size: 3rem;
  margin-top: 2rem; }
  .heading-secondary--sub {
    display: block;
    text-decoration: overline; }

.heading-tertiary {
  font-family: "Staatliches", sans-serif;
  color: grey;
  font-size: 3.5rem;
  margin: 3rem;
  text-align: center; }
  .heading-tertiary--sub {
    display: block;
    text-decoration: overline; }

.strahd-descriptive {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
  color: grey;
  margin: 3rem; }

.tarroka-script {
  font-family: "Patrick Hand SC", cursive;
  font-size: 2rem; }

.typewriter-script {
  font-family: "Courier New", Courier, monospace; }

.strahd-script {
  font-family: "Pinyon Script", cursive; }

.sergei-script {
  font-family: "Zeyada", cursive; }

.safzira-script {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  color: grey; }

.ireena-script {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: grey; }

.tarroka-script {
  font-family: "Patrick Hand SC", cursive;
  padding: 3rem; }

.list {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 10rem; }

.hyperlink a {
  color: red;
  text-decoration: none; }

.headline {
  font-family: "Staatliches", sans-serif;
  color: #e6e6e6;
  font-size: 2.5rem;
  margin: 0 1rem;
  text-align: center; }

.u-center-text {
  text-align: center !important; }

.u-underline {
  text-decoration: underline; }

.u-thin-border-top {
  border-top: 1px solid white; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (min-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-top-small {
  padding-top: 1.5rem !important; }

.u-padding-top-medium {
  padding-top: 4rem !important; }

.u-padding-medium {
  padding: 4rem !important; }

.bg-main {
  background-image: url("https://i.imgur.com/yxCPjUN.png");
  height: 70vh;
  background-size: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* top bottom || top right bottom left */
  padding: 1.5rem 4rem;
  /* forces element to have it's own space */
  display: inline-block;
  transition: all .2s;
  margin: 2rem;
  font-family: "Yatra One", cursive;
  font-size: 2rem;
  color: #771f09;
  background-color: black;
  text-decoration: none;
  padding: .5rem 2rem;
  width: 20rem;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  transform: scale(1.05);
  /* box shadow: x y blur color/opacity*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }
  .btn:hover::after, .btn:focus::after {
    /* scales  */
    transform: scaleX(1.4) scaleY(1.6);
    /* animation goes on initial state above, .btn::after */
    opacity: 0; }

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* animation for .btn:hover::after */
  transition: all .4s; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  padding: 2rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(26, 26, 26, 0.15); }
    .card__side--front {
      background-color: black; }
    .card__side--back {
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 46rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: url("https://i.imgur.com/pG4NWum.png"); }
    .card__picture--2 {
      background-image: url("https://i.imgur.com/UNhjy3p.jpg"); }
    .card__picture--3 {
      background-image: url("https://i.imgur.com/2XF3c41.jpg");
      background-size: cover;
      background-position: center; }
    .card__picture--4 {
      background-image: url("https://i.imgur.com/KeeYsZy.jpg");
      background-position: center; }
    .card__picture--5 {
      background-image: url("https://i.imgur.com/dcGndjG.png"); }
    .card__picture--6 {
      background-image: url("https://i.imgur.com/i3sWh1p.png");
      background-position: center; }
    .card__picture--7 {
      background-image: url("https://i.imgur.com/5iWx4Sl.png"); }
    .card__picture--8 {
      background-image: url("https://i.imgur.com/BNcaXW9.jpg");
      background-position: center; }
    .card__picture--9 {
      background-image: url("https://i.imgur.com/tYEzwNQ.png"); }
    .card__picture--10 {
      background-image: url("https://i.imgur.com/Gr3abpr.png"); }
    .card__picture--11 {
      background-image: url("https://i.imgur.com/VbVKHji.png"); }
  .card__heading {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    font-family: "Bebas Neue", cursive; }
  .card__description {
    height: 46rem;
    padding-left: 1rem; }
    .card__description--top {
      font-size: 4.5rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
      font-family: "Bebas Neue", cursive;
      line-height: 5rem;
      padding-top: 2rem; }
      .card__description--top span {
        display: block;
        font-size: 3rem; }
    .card__description--bottom {
      text-align: center;
      padding-top: 4rem; }
      @media (min-width: 56.25em) {
        .card__description--bottom {
          padding-top: 8rem; } }

.cat-card {
  height: 45rem;
  width: 45rem;
  border-radius: 3px;
  position: relative;
  transition: all .4s; }
  .cat-card:hover {
    transform: scale(0.97); }
    .cat-card:hover::after {
      content: "";
      display: table;
      clear: both; }
  .cat-card:hover .cat-card__title {
    font-size: 2.2rem; }
    .cat-card:hover .cat-card__title::after {
      content: "";
      display: table;
      clear: both; }
  @media (min-width: 37.5em) {
    .cat-card {
      height: 30rem;
      width: 30rem; } }
  @media (min-width: 75em) {
    .cat-card {
      height: 25rem;
      width: 25rem; } }
  .cat-card__title {
    color: white;
    font-family: "Yatra One", cursive;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s;
    width: 100%; }
  .cat-card--sunseekers {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/XdxUY3y.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--ravenloft {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/1xI9Lua.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--barovia {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/VP9HxsY.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge; }
  .cat-card--vistani {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/WhgUBnM.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--keepers {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/VsqE8Ic.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken; }
  .cat-card--dragon {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/79TW4Fp.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--church {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/rsS64Ka.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--baron {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/ES2lAjH.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--wachterhaus {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/qLO3OuR.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: multiply; }
  .cat-card--merchants {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/uHHFv1v.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--vallaki {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/coz37xw.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--witches {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/4jpT6Ux.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--unknown {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/zRETq2O.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--adventure-log {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/tFQlEqi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--tarroka-reading {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/4TAGQ2R.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--strahd-notes {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/AWQB28r.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: hue; }
  .cat-card--vallaki-laws {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/fgPPAfM.png");
    background-size: cover;
    background-position: bottom;
    background-blend-mode: hue; }
  .cat-card--safzira-diary {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/pG4NWum.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten; }
  .cat-card--ireena-diary {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/5iWx4Sl.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: darken; }
  .cat-card--maps {
    background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/9VKC5vb.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--misc {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/r17tnaC.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken; }
  .cat-card--mists {
    background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/bgfcLRA.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--old-svalich-road {
    background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/B7TIY5w.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--svalich-woods {
    background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/aN6jACG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--river-ivlis {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.2), rgba(24, 6, 2, 0.2)), url("https://i.imgur.com/K0dBpvZ.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue; }
  .cat-card--tser-pool-encampent {
    background-image: linear-gradient(to right bottom, rgba(26, 26, 26, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/4ESFX6g.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--black-carriage {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/BgyFPCi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference; }
  .cat-card--old-mill {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/OVBsusR.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--vallaki-vistani-camp {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/BhKS1uC.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten; }
  .cat-card--lake-zarovich {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/g5gBgCy.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--mount-baratok {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/YeJikRd.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--argonvostholt {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/a7MDVuA.png");
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten; }
  .cat-card--village-of-krezk {
    background-image: linear-gradient(to right bottom, rgba(166, 166, 166, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/KZksRvW.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; }
  .cat-card--tsolenka-pass {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/djjBndz.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--ruins-of-berez {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/ucyJimG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--van-richten-tower {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/Bl3DflE.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--wizard-of-wines {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/GlOt2XL.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color; }
  .cat-card--amber-temple {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/BGevuw0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--yester-hill {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/vulmMJ0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten; }
  .cat-card--werewolf-den {
    background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/aN6jACG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken; }

.maps-box {
  text-align: center;
  width: 100%; }
  .maps-box img {
    width: 35rem; }
    @media (min-width: 37.5em) {
      .maps-box img {
        width: 50rem; } }
    @media (min-width: 75em) {
      .maps-box img {
        width: 60rem; } }
  .maps-box__list {
    list-style: none;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    padding-left: 6rem; }

.notes-nav ul {
  text-align: center;
  list-style: none; }

.notes-box {
  position: relative; }
  .notes-box__image-box {
    width: 20rem;
    margin: 1rem; }
    .notes-box__image-box img {
      width: 100%;
      height: auto; }
    .notes-box__image-box--left {
      float: left; }
    .notes-box__image-box--right {
      float: right; }
  .notes-box__image-caption {
    text-align: center;
    font-family: "Courier New", Courier, monospace; }
  .notes-box__paragraph-box {
    font-size: 2.2rem;
    color: grey;
    padding: 3rem; }

.npc-card {
  background-color: #1a1a1a;
  border-radius: 3px;
  transition: all .4s;
  height: 80rem;
  width: 40rem; }
  @media (min-width: 56.25em) {
    .npc-card {
      height: 60rem; } }
  @media (min-width: 75em) {
    .npc-card {
      height: 54rem;
      width: 33rem; } }
  .npc-card:hover {
    transform: scale(0.97); }
  .npc-card__heading {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1rem;
    font-family: "Bebas Neue", cursive;
    color: #a62b0d; }
  .npc-card__description {
    padding: 2rem;
    text-align: center;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */ }
    .npc-card__description::-webkit-scrollbar {
      display: none; }
  .npc-card__bonds {
    text-align: center;
    font-size: 2rem; }
  .npc-card__img {
    background-size: cover;
    height: 25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); }
    .npc-card__img--rose {
      background-image: url("https://i.imgur.com/IrTKHqP.jpg");
      background-position: center; }
    .npc-card__img--thorn {
      background-image: url("https://i.imgur.com/zvK212S.jpg");
      background-position: center; }
    .npc-card__img--gustav {
      background-image: url("https://i.imgur.com/c5F4D19.jpg");
      background-position: center; }
    .npc-card__img--elizabeth {
      background-image: url("https://i.imgur.com/otQXN1s.jpg");
      background-position: center; }
    .npc-card__img--walter {
      background-image: url("https://i.imgur.com/l2cD0Wh.jpg");
      background-position: center; }
    .npc-card__img--nursemaid {
      background-image: url("https://i.imgur.com/TPaXcpo.png");
      background-position: center; }
    .npc-card__img--mrs-cobb {
      background-image: url("https://i.imgur.com/Gd7Sfuw.jpg");
      background-position: top; }
    .npc-card__img--mr-cobb {
      background-image: url("https://i.imgur.com/WMynXM9.jpg");
      background-position: top; }
    .npc-card__img--kolyan-indirovich {
      background-image: url("https://i.imgur.com/tAjmnfI.jpg");
      background-position: top; }
    .npc-card__img--ismark-indirovich {
      background-image: url("https://i.imgur.com/R0aJebI.jpg");
      background-position: center; }
    .npc-card__img--ireena-kolyana {
      background-image: url("https://i.imgur.com/5iWx4Sl.png");
      background-position: top; }
    .npc-card__img--parriwimple {
      background-image: url("https://i.imgur.com/FBIPhZK.png");
      background-position: top; }
    .npc-card__img--bildrath {
      background-image: url("https://i.imgur.com/XVWw2G1.png");
      background-position: top; }
    .npc-card__img--father-donavich {
      background-image: url("https://i.imgur.com/jr6osuv.jpg");
      background-position: top; }
    .npc-card__img--doru {
      background-image: url("https://i.imgur.com/AprGNcu.png");
      background-position: center; }
    .npc-card__img--mad-mary {
      background-image: url("https://i.imgur.com/96kr5JK.jpg");
      background-position: center; }
    .npc-card__img--lancelot {
      background-image: url("https://i.imgur.com/BNcaXW9.jpg");
      background-position: top; }
    .npc-card__img--tavern-owners {
      background-image: url("https://i.imgur.com/HU0bX4P.jpg");
      background-position: top; }
    .npc-card__img--strahd {
      background-image: url("https://i.imgur.com/LTsLbQk.png");
      background-position: center; }
    .npc-card__img--bucephalus {
      background-image: url("https://i.imgur.com/ncyiGNK.png");
      background-position: top; }
    .npc-card__img--anastrasya {
      background-image: url("https://i.imgur.com/oPDH0ls.jpg");
      background-position: top; }
    .npc-card__img--volenta {
      background-image: url("https://i.imgur.com/m1q8zC7.png");
      background-position: top; }
    .npc-card__img--ludmilla {
      background-image: url("https://i.imgur.com/YoAb0kL.png");
      background-position: top; }
    .npc-card__img--escher {
      background-image: url("https://i.imgur.com/naoNg7C.png");
      background-position: top; }
    .npc-card__img--rahadin {
      background-image: url("https://i.imgur.com/CEgKJ5p.png");
      background-position: top; }
    .npc-card__img--accountant {
      background-image: url("https://i.imgur.com/KU3FLwC.png");
      background-position: top; }
    .npc-card__img--cyrus-belview {
      background-image: url("https://i.imgur.com/3wcInwz.png");
      background-position: top; }
    .npc-card__img--cyrus-belview {
      background-image: url("https://i.imgur.com/3wcInwz.png");
      background-position: top; }
    .npc-card__img--viktor-lazlo {
      background-image: url("https://i.imgur.com/DUF2lfE.png");
      background-position: top; }
    .npc-card__img--madame-eva {
      background-image: url("https://i.imgur.com/4TAGQ2R.jpg");
      background-position: top; }
    .npc-card__img--tser-pool {
      background-image: url("https://i.imgur.com/4ESFX6g.png");
      background-position: center; }
    .npc-card__img--vallaki-camp {
      background-image: url("https://i.imgur.com/BhKS1uC.png");
      background-position: top; }
    .npc-card__img--luvash {
      background-image: url("https://i.imgur.com/zPDSJWv.png");
      background-position: top; }
    .npc-card__img--arrigal {
      background-image: url("https://i.imgur.com/cJuJgQy.png");
      background-position: top; }
    .npc-card__img--arabelle {
      background-image: url("https://i.imgur.com/mUPMdul.png");
      background-position: center; }
    .npc-card__img--alexei {
      background-image: url("https://i.imgur.com/kJkTaka.png");
      background-position: center; }
    .npc-card__img--kasimir {
      background-image: url("https://i.imgur.com/VbVKHji.png");
      background-position: top; }
    .npc-card__img--dusk-elves {
      background-image: url("https://i.imgur.com/q3lsE1z.png");
      background-position: center; }
    .npc-card__img--vistani-nomads {
      background-image: url("https://i.imgur.com/tyNOTjk.png");
      background-position: top; }
    .npc-card__img--ezmerelda {
      background-image: url("https://i.imgur.com/Zs0iM18.png");
      background-position: top; }
    .npc-card__img--danika-dorakova {
      background-image: url("https://i.imgur.com/t76siZc.png");
      background-position: top; }
    .npc-card__img--urwin-martikov {
      background-image: url("https://i.imgur.com/se3nVYA.png");
      background-position: top; }
    .npc-card__img--brom-martikov {
      background-image: url("https://i.imgur.com/BkKm4Az.png");
      background-position: center; }
    .npc-card__img--bray-martikov {
      background-image: url("https://i.imgur.com/zHZCDfN.png");
      background-position: center; }
    .npc-card__img--argynvost {
      background-image: url("https://i.imgur.com/gMBEsmH.png");
      background-position: center; }
    .npc-card__img--vladimir-horngaard {
      background-image: url("https://i.imgur.com/8s2uE3q.png");
      background-position: center; }
    .npc-card__img--godfrey-gilwyn {
      background-image: url("https://i.imgur.com/I3Gc3uT.png");
      background-position: center; }
    .npc-card__img--vladimirs-revenants {
      background-image: url("https://i.imgur.com/0IVdyxP.png");
      background-position: center; }
    .npc-card__img--godfreys-revenants {
      background-image: url("https://i.imgur.com/ESpelam.png");
      background-position: center; }
    .npc-card__img--erich-norinthaal {
      background-image: url("https://i.imgur.com/akPmTiU.png");
      background-position: center; }
    .npc-card__img--damien-hargrove {
      background-image: url("https://i.imgur.com/lslqYhu.png");
      background-position: top; }
    .npc-card__img--arthund-boarwin {
      background-image: url("https://i.imgur.com/TEMI1tp.png");
      background-position: center; }
    .npc-card__img--robern-teray {
      background-image: url("https://i.imgur.com/oicL9Ap.png");
      background-position: center; }
    .npc-card__img--lucien-petrovich {
      background-image: url("https://i.imgur.com/rgYIjKd.png");
      background-position: top; }
    .npc-card__img--franz-petrovich {
      background-image: url("https://i.imgur.com/jT8iGgN.png");
      background-position: top; }
    .npc-card__img--claudia-belasco {
      background-image: url("https://i.imgur.com/Ry4ksDE.png");
      background-position: center; }
    .npc-card__img--milivoj {
      background-image: url("https://i.imgur.com/nYQC8VY.jpg");
      background-position: center; }
    .npc-card__img--baron-vallakovich {
      background-image: url("https://i.imgur.com/hHguveo.png");
      background-position: top; }
    .npc-card__img--baroness {
      background-image: url("https://i.imgur.com/Uu6FNg4.png");
      background-position: top; }
    .npc-card__img--izek-strazni {
      background-image: url("https://i.imgur.com/zwYIqcJ.png");
      background-position: center; }
    .npc-card__img--victor-vallakovich {
      background-image: url("https://i.imgur.com/TZlpDIH.png");
      background-position: center; }
    .npc-card__img--vallaki-guards {
      background-image: url("https://i.imgur.com/mYrMJos.png");
      background-position: center; }
    .npc-card__img--butler {
      background-image: url("https://i.imgur.com/6vkrtpj.png");
      background-position: top; }
    .npc-card__img--dragomir-valisov {
      background-image: url("https://i.imgur.com/9xMXn7l.png");
      background-position: top; }
    .npc-card__img--alek-alastroi {
      background-image: url("https://i.imgur.com/ezgNkJR.png");
      background-position: top; }
    .npc-card__img--andrej-alastroi {
      background-image: url("https://i.imgur.com/GkLBY9s.pngg");
      background-position: top; }
    .npc-card__img--alana-alastroi {
      background-image: url("https://i.imgur.com/qM3iqDT.png");
      background-position: top; }
    .npc-card__img--harkus-stefanovich {
      background-image: url("https://i.imgur.com/CiucFK9.jpg");
      background-position: top; }
    .npc-card__img--fatima-lukresh {
      background-image: url("https://i.imgur.com/6M5oCvn.jpg");
      background-position: top; }
    .npc-card__img--tural {
      background-image: url("https://i.imgur.com/LoWGZUj.jpg");
      background-position: center; }
    .npc-card__img--bilbo {
      background-image: url("https://i.imgur.com/SrppwD9.jpg");
      background-position: center; }
    .npc-card__img--ana-krogarov {
      background-image: url("https://i.imgur.com/5nEcuuL.png");
      background-position: top; }
    .npc-card__img--rictavio {
      background-image: url("https://i.imgur.com/tYEzwNQ.png");
      background-position: center; }
    .npc-card__img--gadof-blinsky {
      background-image: url("https://i.imgur.com/QefdavN.png");
      background-position: top; }
    .npc-card__img--madame-genie {
      background-image: url("https://i.imgur.com/W1VrGtT.png");
      background-position: center; }
    .npc-card__img--genies-ladies {
      background-image: url("https://i.imgur.com/OqbzSGS.png");
      background-position: top; }
    .npc-card__img--vasili {
      background-image: url("https://i.imgur.com/3tdnSi9.png");
      background-position: top; }
    .npc-card__img--henrik-van-der-root {
      background-image: url("https://i.imgur.com/YBZxjjh.png");
      background-position: top; }
    .npc-card__img--bluto {
      background-image: url("https://i.imgur.com/RVBXqGV.png");
      background-position: top; }
    .npc-card__img--lars-kjurls {
      background-image: url("https://i.imgur.com/iNCA7ea.jpg");
      background-position: top; }
    .npc-card__img--orphans {
      background-image: url("https://i.imgur.com/rMeg8Jx.png");
      background-position: top; }
    .npc-card__img--felix {
      background-image: url("https://i.imgur.com/EpTyfoZ.png");
      background-position: top; }
    .npc-card__img--hair-puller {
      background-image: url("https://i.imgur.com/3V86wmr.png");
      background-position: top; }
    .npc-card__img--lizard-boy {
      background-image: url("https://i.imgur.com/2n73COe.jpg");
      background-position: top; }
    .npc-card__img--ace {
      background-image: url("https://i.imgur.com/OpBoXpH.jpg");
      background-position: center; }
    .npc-card__img--szoldar-szoldarovich {
      background-image: url("https://i.imgur.com/J3BbMEv.png");
      background-position: top; }
    .npc-card__img--yevgeni-krushkin {
      background-image: url("https://i.imgur.com/ikZfS2x.png");
      background-position: top; }
    .npc-card__img--fiona-wachter {
      background-image: url("https://i.imgur.com/qLO3OuR.png");
      background-position: top; }
    .npc-card__img--nikolai-wachter {
      background-image: url("https://i.imgur.com/jo9RNTW.png");
      background-position: top; }
    .npc-card__img--ernst-larnak {
      background-image: url("https://i.imgur.com/VTYepBN.png");
      background-position: top; }
    .npc-card__img--stella-wachter {
      background-image: url("https://i.imgur.com/jLxQzr1.png");
      background-position: top; }
    .npc-card__img--nikolai-jr {
      background-image: url("https://i.imgur.com/xd7dn5q.png");
      background-position: top; }
    .npc-card__img--karl-wachter {
      background-image: url("https://i.imgur.com/PcJwUpU.png");
      background-position: top; }

.shop {
  width: 100%;
  position: relative;
  text-align: center;
  height: 35rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; }
  @media (min-width: 56.25em) {
    .shop {
      height: 29rem;
      margin-bottom: 4rem; } }
  @media (min-width: 75em) {
    .shop {
      height: 26rem; } }
  .shop__banner {
    display: block;
    border-radius: 3px;
    position: absolute;
    min-width: 45rem; }
    .shop__banner--1 {
      background-color: grey; }
    .shop__banner--2 {
      background-color: #86c5da; }
    .shop__banner--3 {
      background-color: #f5a554; }
    .shop__banner--4 {
      background-color: #bf9000; }
    .shop__banner--5 {
      background-color: #ffd24d; }
    .shop__banner--6 {
      background-color: #93c47d; }
    .shop__banner--7 {
      background-color: #c27ba0; }
  .shop__icon {
    float: left;
    font-size: 7rem;
    margin: 0 2rem;
    padding: 1rem 0;
    padding-top: 2rem;
    color: black; }
  .shop__header {
    padding: 1rem 0;
    color: black;
    padding-top: 3rem;
    padding-right: 2.1rem; }
    .shop__header--main {
      display: block;
      font-size: 2rem;
      font-family: "Cinzel Decorative", cursive; }
    .shop__header--sub {
      display: block;
      font-size: 1.5rem; }
  .shop__table {
    display: block;
    color: white;
    border-radius: 3px;
    position: absolute;
    top: 16rem; }
    @media (min-width: 56.25em) {
      .shop__table {
        top: 16rem;
        padding: 2rem; } }

.tarroka-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  width: 32rem; }
  .tarroka-card__side {
    height: 45rem;
    width: 32rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3rem;
    overflow: hidden; }
    .tarroka-card__side--back {
      transform: rotateY(180deg); }
    .tarroka-card__side img {
      height: 45rem; }
  .tarroka-card:hover .tarroka-card__side--front {
    transform: rotateY(-180deg); }
  .tarroka-card:hover .tarroka-card__side--back {
    transform: rotateY(0); }

.death-house {
  background-color: green;
  grid-column: main-content-start / main-content-end;
  grid-row: death-house-start / death-house-end; }

.description {
  grid-column: 2 / 3;
  grid-row: 3 / 4; }
  .description__flex-container {
    display: flex;
    flex-direction: column;
    padding: 5px; }
    @media (min-width: 75em) {
      .description__flex-container {
        flex-direction: row; } }
  .description__text-box {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-grow: 2; }
  .description__text-actual {
    max-width: 800px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    padding: 3rem;
    background-color: #a6a6a6;
    border-radius: 5px;
    transition: all .5s; }
  .description__game {
    padding: 2rem 0;
    text-align: center;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .description__game-link {
      max-width: 500px; }
      .description__game-link:hover .description__game-img {
        transform: scale(1.02); }
    .description__game-img {
      width: 100%;
      text-decoration: none;
      max-width: 500px;
      border-radius: 5px;
      transition: all .5s; }

.header {
  height: 20vh;
  background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: 0 0;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  grid-column: 1 / 4; }
  .header__textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }

.home {
  background-color: #1e1e1e;
  display: grid;
  grid-template-rows: [header-start] 20vh [header-end nav-start] 9vh [nav-end description-start] 1fr [description-end most-recent-start] 150vh [most-recent-end tarroka-start] 40vh [tarroka-end bonus-start] 40vh [bonus-end death-house-start] 40vh [death-house-end footer-start] 1fr [footer-end];
  row-gap: 3rem;
  grid-template-columns: [page-horizontal-start] 2rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 2rem [home-horizontal-end]; }
  @media (min-width: 56.25em) {
    .home {
      grid-template-rows: [header-start] 20vh [header-end nav-start] 9vh [nav-end description-start] 1fr [description-end most-recent-start] 80vh [most-recent-end tarroka-start] 40vh [tarroka-end bonus-start] 40vh [bonus-end death-house-start] 40vh [death-house-end footer-start] 1fr [footer-end];
      grid-template-columns: [page-horizontal-start] 5rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 5rem [home-horizontal-end]; } }
  @media (min-width: 75em) {
    .home {
      grid-template-columns: [page-horizontal-start] 10rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 10rem [home-horizontal-end]; } }
  .home__placeholder--1 {
    grid-column: 2 / 3;
    grid-row: tarroka-start / tarroka-end;
    background-color: orangered; }
  .home__placeholder--2 {
    grid-column: 2 / 3;
    grid-row: bonus-start / bonus-end;
    background-color: purple; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; }
  .flexbox--npc__item {
    height: 80rem;
    width: 40rem; }
    @media (min-width: 56.25em) {
      .flexbox--npc__item {
        height: 60rem; } }
    @media (min-width: 75em) {
      .flexbox--npc__item {
        height: 54rem;
        width: 33rem; } }
  .flexbox--tarroka {
    gap: 5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 3rem 0; }
    .flexbox--tarroka__item {
      height: 45rem;
      width: 32rem; }
  .flexbox__item {
    width: 40rem; }
    .flexbox__item--tarroka {
      width: 40rem; }

.footer {
  grid-row: footer-start / footer-end;
  grid-column: 2 / 3;
  background-image: radial-gradient(circle, #1a1a1a, #0d0d0d);
  padding: 3rem 0;
  margin-top: 4rem;
  color: grey;
  border-radius: 3px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #a62b0d; }
    .footer__logo-box--author {
      font-family: "Berkshire Swash", cursive; }
  .footer__navigation {
    border-top: 1px solid grey;
    padding-top: 1rem;
    display: block;
    width: 100%; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: block; }
  .footer__link:link, .footer__link:visited {
    font-family: "Yatra One", cursive;
    color: grey;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }
  .footer__copyright {
    border-top: 1px solid grey;
    padding-top: 1rem;
    text-align: justify; }

.navigation {
  position: relative;
  font-family: "Yatra One", cursive;
  color: #771f09;
  border-top: 3px solid #771f09;
  border-bottom: 3px solid #771f09;
  grid-column: 1 / 4;
  grid-row: 2 / 3; }
  .navigation--top {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem; }
    .navigation--top a,
    .navigation--top a:active,
    .navigation--top a:visited {
      color: #771f09;
      text-decoration: none;
      transition: all .6s; }
    .navigation--top a:hover {
      color: white; }

.recently {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: grid;
  grid-template-rows: 10vh 70vh 70vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  height: 40rem;
  height: 100%; }
  @media (min-width: 56.25em) {
    .recently {
      grid-template-rows: 10vh 70vh;
      grid-template-columns: repeat(2, minmax(0, 1fr)); } }
  .recently__head {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    height: 10vh;
    margin: 0 auto;
    line-height: 10vh; }

.most-recent {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  border-radius: 5px;
  box-sizing: border-box; }
  @media (min-width: 56.25em) {
    .most-recent {
      grid-column: 1 / 2; } }
  .most-recent a {
    text-decoration: none; }
  .most-recent__single {
    border-radius: 1rem;
    background-color: green;
    height: 100%;
    padding: 1rem;
    transition: all .5s;
    box-shadow: 5px 5px 5px black; }
    @media (min-width: 56.25em) {
      .most-recent__single:hover {
        box-shadow: 5px 5px 5px grey; } }
  .most-recent__text-box {
    background-color: grey;
    opacity: 80%;
    border-radius: .5rem;
    padding: 5px;
    color: white; }
  .most-recent__number {
    color: #771f09;
    font-family: "Bebas Neue", cursive;
    font-size: 3rem; }
  .most-recent__title {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 3rem; }
  .most-recent__synopsis {
    display: block;
    font-size: 1.5rem; }

.less-recent {
  display: grid;
  grid-row: 3 / 4;
  grid-column: 1 / 3; }
  @media (min-width: 56.25em) {
    .less-recent {
      grid-row: 2 / 3;
      grid-column: 2 / 3; } }
  .less-recent :not(:last-child) {
    margin-bottom: 1rem; }
  .less-recent__single {
    border-radius: 1rem;
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    background-color: green;
    transition: all .5s;
    box-shadow: 5px 5px 5px black; }
    @media (min-width: 56.25em) {
      .less-recent__single:hover {
        box-shadow: 5px 5px 5px grey; } }
    .less-recent__single--all {
      background-image: url("https://i.imgur.com/HGZzSIa.png");
      background-position: center;
      background-size: cover; }
  .less-recent__text-box {
    background-color: grey;
    opacity: 80%;
    border-radius: .5rem;
    padding: 5px;
    display: inline-block;
    min-width: 30%;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 2rem; }
  .less-recent__number {
    color: #771f09; }
  .less-recent__title {
    color: white; }

.title {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(166, 43, 13, 0.8), rgba(24, 6, 2, 0.8)), url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  clip-path: polygon(50% 0, 80% 25%, 100% 0, 100% 100%, 80% 75%, 50% 100%, 20% 75%, 0 100%, 0 0, 20% 25%);
  animation: scaleDown 1.5s ease-out; }
  .title__textbox {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px; }
    .title__textbox h1 {
      animation: fadeIn 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: .5s; }
    .title__textbox a {
      animation: fadeIn .5s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s; }

.adventure {
  display: flex;
  align-items: center;
  height: 100svh;
  flex-direction: column;
  position: relative;
  transition: all .5s;
  position: relative;
  border: 3px solid green;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
  @media (min-width: 37.5em) {
    .adventure {
      height: 100vh; } }
  .adventure__link {
    text-decoration: none;
    color: white; }
  .adventure__slider-button-box {
    position: relative;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 75em) {
      .adventure__slider-button-box {
        height: 50rem; } }
    .adventure__slider-button-box:hover .adventure__nav-icon {
      opacity: .5; }
  .adventure__nav-icon {
    display: none; }
    @media (min-width: 37.5em) {
      .adventure__nav-icon {
        display: inline;
        z-index: 10;
        font-size: 32px;
        width: 5rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .5s;
        background-color: black; } }
  @media (min-width: 37.5em) and (min-width: 75em) {
    .adventure__nav-icon {
      height: 45rem; } }
    @media (min-width: 37.5em) {
        .adventure__nav-icon:hover {
          opacity: 0.8; }
        .adventure__nav-icon:hover .adventure__icon {
          transform: scale(1.1);
          color: #a62b0d; }
        .adventure__nav-icon--left {
          position: absolute;
          left: 0%; }
        .adventure__nav-icon--right {
          position: absolute;
          right: 0%; } }
  .adventure__icon {
    color: #771f09;
    transition: .25s; }
  .adventure__main {
    width: 100%;
    margin: 0;
    height: 65rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: visible;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    @media (min-width: 75em) {
      .adventure__main {
        height: 60rem; } }
    .adventure__main::-webkit-scrollbar {
      display: none; }
  .adventure__card {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
    height: 60rem;
    min-width: 40rem;
    border-radius: 3px; }
    @media (min-width: 56.25em) {
      .adventure__card {
        height: 60rem;
        min-width: 45rem; }
        .adventure__card:hover {
          transform: scale(1.05);
          transition: .5s;
          box-shadow: 0 2rem 5rem rgba(166, 43, 13, 0.5);
          z-index: 5; } }
    @media (min-width: 75em) {
      .adventure__card {
        margin-top: 0;
        height: 40rem;
        min-width: 30rem; } }
    @media (min-width: 112.5em) {
      .adventure__card {
        margin-top: 0;
        height: 45rem;
        min-width: 35rem; } }
    .adventure__card-text-box {
      font-family: "Bebas Neue", cursive;
      width: 100%;
      background-image: linear-gradient(to right top, rgba(166, 43, 13, 0.8), rgba(0, 0, 0, 0.8));
      padding: 2rem;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none; }
      .adventure__card-text-box--main {
        display: block;
        font-size: 3rem; }
      .adventure__card-text-box--sub {
        display: block;
        font-size: 1.5rem; }
        .adventure__card-text-box--sub-num {
          color: #180602; }
    .adventure__card--1 {
      background-image: url("https://i.imgur.com/v0UJOI8.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--2 {
      background-image: url("https://i.imgur.com/n5ktd93.png");
      background-position: center; }
    .adventure__card--3 {
      background-image: url("https://i.imgur.com/4TAGQ2R.jpg");
      background-position: center;
      background-size: cover; }
    .adventure__card--4 {
      background-image: url("https://i.imgur.com/Z3CS9zj.png");
      background-position: left; }
    .adventure__card--5 {
      background-image: url("https://i.imgur.com/fgPPAfM.png");
      background-position: bottom; }
    .adventure__card--6 {
      background-image: url("https://i.imgur.com/G2pd6iZ.jpg");
      background-position: bottom;
      background-size: cover; }
    .adventure__card--7 {
      background-image: url("https://i.imgur.com/RXoVXmW.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--8 {
      background-image: url("https://i.imgur.com/4iLw0nC.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--9 {
      background-image: url("https://i.imgur.com/9hhPNLe.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--10 {
      background-image: url("https://i.imgur.com/BhKS1uC.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--11 {
      background-image: url("https://i.imgur.com/pb4SaMI.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--12 {
      background-image: url("https://i.imgur.com/MPP8A9i.png");
      background-position: left;
      background-size: cover; }
    .adventure__card--13 {
      background-image: url("https://i.imgur.com/KeeYsZy.jpg");
      background-position: left;
      background-size: cover; }
    .adventure__card--14 {
      background-image: url("https://i.imgur.com/RztDbSi.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--15 {
      background-image: url("https://i.imgur.com/I3Gc3uT.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--16 {
      background-image: url("https://i.imgur.com/qIbqsK8.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--17 {
      background-image: url("https://i.imgur.com/Zs0iM18.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--18 {
      background-image: url("https://i.imgur.com/y2eHL8S.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--19 {
      background-image: url("https://i.imgur.com/Bev2dep.png");
      background-position: center;
      background-size: cover; }
    .adventure__card--20 {
      background-image: url("https://i.imgur.com/G32pbKr.png");
      background-position: center;
      background-size: cover; }

.log-entry__link {
  text-decoration: none; }

.log-entry__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem; }

.log-entry__title {
  font-size: 2.5rem;
  font-family: "Staatliches", sans-serif;
  letter-spacing: .20rem;
  font-weight: normal; }

.log-entry__title, .log-entry__date, .log-entry__details {
  max-width: 60rem;
  align-self: center;
  text-align: center;
  margin-bottom: .5rem; }

.log-entry__details {
  margin-bottom: 2rem; }

.log-entry__subtitle {
  font-weight: bold;
  display: block;
  margin: 1rem 0; }

.log-entry__text {
  max-width: 100rem;
  align-self: center; }

.market {
  display: flex;
  flex-direction: column; }

.strahd-descriptive {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  text-align: center;
  color: grey; }

.vallaki-laws {
  font-family: "Yatra One", cursive;
  color: #a62b0d;
  font-size: 2rem;
  padding: 3rem; }
