.cat-card {
   height: 45rem; 
   width: 45rem;
   border-radius: 3px;
   position: relative;
   transition: all .4s;
   

  &:hover {
    transform: scale(.97);
    @include clearfix;
  }

  &:hover &__title {
    font-size: 2.2rem;
    @include clearfix;
  }

   @include respond(tab-port) {
    height: 30rem;
    width: 30rem;
   }

   @include respond(desktop) {
    height: 25rem;
    width: 25rem;
   }

   &__title {
    color: white;
    font-family: $font-nav;
    font-size: 2rem;
    text-align: center;
    @include absCenter;
    transition: all .4s;
    width: 100%;

   }

  // CHARACTERS

  &--characters-1 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/XdxUY3y.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--characters-2 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/1xI9Lua.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--characters-3 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VP9HxsY.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
   }

   &--characters-4 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/WhgUBnM.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--characters-5 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VsqE8Ic.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
   }

   &--characters-6 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/79TW4Fp.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--characters-7 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/rsS64Ka.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--characters-8 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ES2lAjH.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--characters-9 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/qLO3OuR.png");
    background-size: cover;
    background-position: top;
    background-blend-mode:multiply;
   }

   &--characters-10 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/uHHFv1v.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--characters-11 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/coz37xw.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--characters-12 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4jpT6Ux.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--characters-13 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/zRETq2O.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--characters-14 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/q1DGuW9.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

  // JOURNALS

  &--journal-1 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/tFQlEqi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--journal-2 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4TAGQ2R.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  &--journal-3 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/AWQB28r.png");
    background-size: cover;
    background-position: top;
    background-blend-mode:hue;
  }

  &--journal-4 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/fgPPAfM.png");
    background-size: cover;
    background-position: bottom;
    background-blend-mode: hue;
  }

  &--journal-5 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/pG4NWum.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten;
  }

  &--journal-6 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/5iWx4Sl.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
  }

  &--journal-7 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/9VKC5vb.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--journal-8 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/r17tnaC.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }

  // LOCATIONS

  &--location-1 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/bgfcLRA.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-2 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/B7TIY5w.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-3 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/aN6jACG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:difference;
  }

  &--location-4 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.2), 
      rgba($color-primary-dark, 0.2)), 
      url("https://i.imgur.com/K0dBpvZ.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
   }

  &--location-5 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.2),  
      rgba($color-primary-dark, 0.2)), 
      url("https://i.imgur.com/VP9HxsY.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
  }

  &--location-6 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4ESFX6g.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-7 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BgyFPCi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
  }

  &--location-8 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/1xI9Lua.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

  &--location-9 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/OVBsusR.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-10 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/coz37xw.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

  &--location-11 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BhKS1uC.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten;
  }

  &--location-11 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BhKS1uC.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten;
  }

  &--location-12 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/g5gBgCy.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-13 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/YeJikRd.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-14 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/a7MDVuA.png");
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
  }

  &--location-15 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/KZksRvW.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  &--location-16 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/UOUFifH.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }
  
  &--location-17 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/djjBndz.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-18 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ucyJimG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-19 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/Bl3DflE.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--location-20 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/GlOt2XL.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:color;
  }

  &--location-21 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BGevuw0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }
  
  &--location-22 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/vulmMJ0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  // Resources

  &--resources-1 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/fp1DXnW.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--resources-2 {
    background-image: 
      url("https://i.imgur.com/CeY4FIC.png");
    background-size: cover;
    background-position: center;
    // background-blend-mode: lighten;
  }

  &--resources-3 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/7CqaHzP.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
  }

  &--resources-4 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ZzFQKI3.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
  }

  &--resources-5 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BiISWmu.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
  }

  
}