.cat-card {
   height: 45rem; 
   width: 45rem;
   border-radius: 3px;
   position: relative;
   transition: all .4s;
   

  &:hover {
    transform: scale(.97);
    @include clearfix;
  }

  &:hover &__title {
    font-size: 2.2rem;
    @include clearfix;
  }

   @include respond(tab-port) {
    height: 30rem;
    width: 30rem;
   }

   @include respond(desktop) {
    height: 25rem;
    width: 25rem;
   }

   &__title {
    color: white;
    font-family: $font-nav;
    font-size: 2rem;
    text-align: center;
    @include absCenter;
    transition: all .4s;
    width: 100%;

   }

  //  &:hover &__caption {
  //   opacity: 1;
  //   transform: translate(-50%, -50%);

  &--sunseekers {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/XdxUY3y.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--ravenloft {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/1xI9Lua.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--barovia {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VP9HxsY.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
   }

   &--vistani {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/WhgUBnM.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--keepers {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VsqE8Ic.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
   }

   &--dragon {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/79TW4Fp.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--church {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/rsS64Ka.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--baron {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ES2lAjH.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--wachterhaus {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BjfQLaP.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:multiply;
   }

   &--merchants {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/uHHFv1v.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--vallaki {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/coz37xw.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--witches {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4jpT6Ux.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--unknown {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/zRETq2O.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }
}