.cat-card {
   height: 45rem; 
   width: 45rem;
   border-radius: 3px;
   position: relative;
   transition: all .4s;
   

  &:hover {
    transform: scale(.97);
    @include clearfix;
  }

  &:hover &__title {
    font-size: 2.2rem;
    @include clearfix;
  }

   @include respond(tab-port) {
    height: 30rem;
    width: 30rem;
   }

   @include respond(desktop) {
    height: 25rem;
    width: 25rem;
   }

   &__title {
    color: white;
    font-family: $font-nav;
    font-size: 2rem;
    text-align: center;
    @include absCenter;
    transition: all .4s;
    width: 100%;

   }

  // CHARACTERS

  &--sunseekers {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/XdxUY3y.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--ravenloft {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/1xI9Lua.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--barovia {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VP9HxsY.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
   }

   &--vistani {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/WhgUBnM.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--keepers {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/VsqE8Ic.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
   }

   &--dragon {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/79TW4Fp.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--church {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/rsS64Ka.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--baron {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ES2lAjH.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
   }

   &--wachterhaus {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BjfQLaP.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:multiply;
   }

   &--merchants {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/uHHFv1v.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--vallaki {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/coz37xw.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--witches {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4jpT6Ux.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

   &--unknown {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/zRETq2O.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
   }

  // JOURNALS

  &--adventure-log {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/tFQlEqi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--tarroka-reading {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4TAGQ2R.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  &--strahd-notes {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/AWQB28r.png");
    background-size: cover;
    background-position: top;
    background-blend-mode:hue;
  }

  &--vallaki-laws {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/fgPPAfM.png");
    background-size: cover;
    background-position: bottom;
    background-blend-mode: hue;
  }

  &--safzira-diary {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/pG4NWum.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten;
  }

  &--ireena-diary {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/5iWx4Sl.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: darken;
  }

  &--misc {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/r17tnaC.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }

  // LOCATIONS

  &--mists {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/bgfcLRA.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--old-svalich-road {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/B7TIY5w.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--svalich-woods {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/aN6jACG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:difference;
  }

  // village of barovia card resused from characters

  &--river-ivlis {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.2),  
      rgba($color-primary-dark, 0.2)), 
      url("https://i.imgur.com/K0dBpvZ.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: hue;
  }

  &--tser-pool-encampent {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-dark-1, 0.8),   
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/4ESFX6g.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--black-carriage {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BgyFPCi.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
  }

  // castle ravenloft card reused from characters

  &--old-mill {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/OVBsusR.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  // vallaki location reused from characters

  &--vallaki-vistani-camp {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BhKS1uC.png");
    background-size: cover;
    background-position: top;
    background-blend-mode: lighten;
  }

  &--lake-zarovich {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/g5gBgCy.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--mount-baratok {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/YeJikRd.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--argonvostholt {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/a7MDVuA.png");
    background-size: cover;
    background-position: left;
    background-blend-mode: lighten;
  }

  &--village-of-krezk {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-grey-light-2, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/KZksRvW.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  }

  &--tsolenka-pass {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/djjBndz.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--ruins-of-berez {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/ucyJimG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--van-richten-tower {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/Bl3DflE.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--wizard-of-wines {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/GlOt2XL.png");
    background-size: cover;
    background-position: center;
    background-blend-mode:color;
  }

  &--amber-temple {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/BGevuw0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--yester-hill {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/vulmMJ0.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }

  &--werewolf-den {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.8),  
      rgba($color-primary-dark, 0.8)), 
      url("https://i.imgur.com/aN6jACG.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }
}