.character-modal {

  &__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    max-height: 700px;
    max-width: 350px;
    border-radius: 1rem;
  }

  &__flex {
    display: flex;
    padding: 2rem;
    justify-content: space-around;

    &--right {
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-left: 2rem;
    }
  }

  &__description {
    font-family: $font-clean;
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
  }

  &__details-box {
    min-width: 40rem;
    margin: 0 auto;
  }

}