.details-box {
  padding:  .5rem;

  margin-bottom: 7rem;
  &--actual {
    display: inline-block;
    position: sticky;
    top: 3%;
  }


  &__section {
    border-bottom: 1px solid $color-white-soft;
    border-bottom: 1px solid $color-primary-dark;

    width: 100%;
    max-width: 45rem;
    text-align: center;
    display: flex;
    color: $color-white-soft;
    justify-content: center;

    &:not(:first-child) {
      // border-left: 1px solid white;
      // border-right: 1px solid white;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8));
    }

    &:first-child {
      border-radius: 1rem 1rem 0 0;
      padding: 1rem;
      background-color: #0d0d0d;
    }

    &:last-child {
      border-radius: 0 0 1rem 1rem;
    }

    &--left {
      width: 50%;
      text-align: center;
      border-right: 1px solid $color-white-soft;
      border-right: 1px solid $color-primary-dark;
      padding: .5rem 0;
    }

    &--right {
      width: 70%;
      text-align: center;
      overflow-wrap: break-word;
      padding: .5rem .25rem;
    }
  }

  &__img {
    width: 90%;
    border-radius: 1rem;

    &-cap {
      padding: .5rem;
      display: block;
      margin-bottom: .5rem;
    }
  }
}