.maps-box {
  text-align: center;
  width: 100%;

  & img {
    width: 35rem;

    @include respond(tab-port) {
      width: 50rem;
    }

    @include respond(desktop) {
      width: 60rem;
    }
  };

  &__list {
    list-style: none;
    font-family: $font-typewriter;
  };
}