.modal-box {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  align-items: center;
  justify-content: center;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__close {
    position: absolute;
    // position: sticky;
    // position: -webkit-sticky;
    top: 1%;
    right: 1%;
    font-family: $font-header;
    color: $color-white-soft;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #333333;
    // border: 2px solid white;

  }

}

.popup {
  z-index: 10;

  &__page-button {
    padding: 1rem 2rem;
    background-color: #333333;
    cursor: pointer;

    &--previous {
      padding-left: 3rem;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
    }

    &--next {
      padding-right: 3rem;
      clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
    }

    &--placeholder {
      opacity: 0;
    }

    &--flexbox {
      display: flex;
      padding: 1rem;
      margin-top: 2rem;
      justify-content: space-between;
      width: 100%;
      position: sticky;
      bottom: 5%;

      // &--transparent {
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   background-color: white;;
      // }
    }

    
  }
}