.notes-nav {


  & ul {

    text-align: center;
    list-style: none;

  }
}

.notes-box {
  position: relative; 

  &__image-box {
    width: 20rem;
    margin: 1rem;

    & img {
      width: 100%;
      height: auto;
    }

    &--left {
      float: left;
    }

    &--right {
      float: right;
    }
  }

  &__image-caption {
    text-align: center;
    font-family: $font-typewriter;
  }

  &__paragraph-box {
    font-size: 2.2rem;
    color: $color-grey-light-1;
    padding: 3rem;
  }
}