.npc-card {
  background-color: $color-grey-dark-1;
  border-radius: 3px;
  transition: all .4s;

  height: 80rem;
  width: 40rem;

  @include respond(tab-land) {
    height: 60rem;
  }

  @include respond(desktop) {
    height: 54rem;
    width: 33rem;
  }

  &:hover {
    transform: scale(.97)
  }

  &__heading{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1rem;
    font-family: $font-header-2;
    color: $color-primary-light;
  }

  &__description {
    padding: 2rem;
    text-align: center;
    // display: block;
    // overflow: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__bonds {
    text-align: center;
    font-size: 2rem;
  }

  &__img {
    background-size: cover;
    height: 25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    
    // 1. Sunseekers 

    // Safzira
    &--1-1 {
      background-image: url("https://i.imgur.com/pG4NWum.png");
      background-position: top;
    }

    // Alina
    &--1-2 {
      background-image: url("https://i.imgur.com/B0eXKe3.png");
      background-position-y: 15%;
    }

    // Bafan
    &--1-3 {
      background-image: url("https://i.imgur.com/WFYABQT.png");
      background-position: top;
    }
    
    // German
    &--1-4 {
      background-image: url("https://i.imgur.com/2XF3c41.jpg");
      background-position: top;
    }

    // Rydas
    &--1-5 {
      background-image: url("https://i.imgur.com/ELVEtOF.png");
      background-position-y: 20%;
    }

    // Freebird
    &--1-6 {
      background-image: url("https://i.imgur.com/HsG0mx0.jpg");
      background-position-y: 20%;
    }
    
    // Umnos
    &--1-7 {
      background-image: url("https://i.imgur.com/KeeYsZy.jpg");
      background-position-y: 85%;
    }
    
    // Elizana
    &--1-8 {
      background-image: url("https://i.imgur.com/UNhjy3p.jpg");
      background-position-y: 10%;
    }
    
    // Zoro
    &--1-9 {
      background-image: url("https://i.imgur.com/ZZPFbGZ.png");
      background-position-y: 30%;
    }

    // Castle Ravenloft -2

    // Strahd
    &--2-1 {
      background-image: url("https://i.imgur.com/LTsLbQk.png");
      background-position: center;
    }

    // Bucephalus
    &--2-2 {
      background-image: url("https://i.imgur.com/ncyiGNK.png");
      background-position: top;
    }

    &--2-3 {
      background-image: url("https://i.imgur.com/oPDH0ls.jpg");
      background-position: top;
    }

    &--2-4 {
      background-image: url("https://i.imgur.com/m1q8zC7.png");
      background-position: top;
    }

    &--2-5 {
      background-image: url("https://i.imgur.com/YoAb0kL.png");
      background-position: top;
    }

    &--2-6 {
      background-image: url("https://i.imgur.com/naoNg7C.png");
      background-position: top;
    }

    &--2-7 {
      background-image: url("https://i.imgur.com/CEgKJ5p.png");
      background-position: top;
    }

    &--2-8 {
      background-image: url("https://i.imgur.com/KU3FLwC.png");
      background-position: top;
    }

    &--2-9 {
      background-image: url("https://i.imgur.com/3wcInwz.png");
      background-position: top;
    }

    &--2-10 {
      background-image: url("https://i.imgur.com/ersvEmO.png");
      background-position: center;
    }

    &--2-11 {
      background-image: url("https://i.imgur.com/YVEINYa.png");
      background-position: top;
    }

    &--2-12 {
      background-image: url("https://i.imgur.com/fndfbPo.png");
      background-position-y: 40%;
    }

    &--2-13 {
      background-image: url("https://i.imgur.com/pke6BRs.png");
      background-position: top;
    }

    // 3. village of barovia

    // Rose
    &--3-1 {
      background-image: url("https://i.imgur.com/IrTKHqP.jpg");
      background-position: center;
    }

    // Thorn
    &--3-2 {
      background-image: url("https://i.imgur.com/zvK212S.jpg");
      background-position: center;
    }

    // Gustav
    &--3-3,
    &--12-2 {
      background-image: url("https://i.imgur.com/c5F4D19.jpg");
      background-position: center;
    }

    // Elizabeth
    &--3-4,
    &--12-3 {
      background-image: url("https://i.imgur.com/otQXN1s.jpg");
      background-position: center;
    }

    // Walter
    &--3-5 {
      background-image: url("https://i.imgur.com/l2cD0Wh.jpg");
      background-position: center;
    }

    // Nursemaid
    &--3-6 {
      background-image: url("https://i.imgur.com/TPaXcpo.png");
      background-position: center;
    }

    // Mrs Cobb
    &--3-7 {
      background-image: url("https://i.imgur.com/Gd7Sfuw.jpg");
      background-position: top;
    }

    // Mr Cobb
    &--3-8 {
      background-image: url("https://i.imgur.com/WMynXM9.jpg");
      background-position: top;
    }

    // Kolyan
    &--3-9 {
      background-image: url("https://i.imgur.com/tAjmnfI.jpg");
      background-position: top;
    }
    
    // Ismark
    &--3-10 {
      background-image: url("https://i.imgur.com/R0aJebI.jpg");
      background-position: center;
    }

    // Ireena
    &--3-11 {
      background-image: url("https://i.imgur.com/5iWx4Sl.png");
      background-position: top;
    }

    // Parriwimple
    &--3-12 {
      background-image: url("https://i.imgur.com/FBIPhZK.png");
      background-position: top;
    }

    // Bildrath
    &--3-13 {
      background-image: url("https://i.imgur.com/XVWw2G1.png");
      background-position: top;
    }

    // Donavich
    &--3-14,
    &--7-1 {
      background-image: url("https://i.imgur.com/jr6osuv.jpg");
      background-position: top;
    }

    // Doru
    &--3-15 {
      background-image: url("https://i.imgur.com/AprGNcu.png");
      background-position: center;
    }

    // mad Mary
    &--3-16 {
      background-image: url("https://i.imgur.com/96kr5JK.jpg");
      background-position: center;
    }

    // lancelot
    &--3-17 {
      background-image: url("https://i.imgur.com/BNcaXW9.jpg");
      background-position: top;
    }

      // gertruda
    &--3-18 {
      background-image: url("https://i.imgur.com/vxbkllB.png");
      background-position: top;
    }

    // tavern owners
    &--3-19,
    &--4-3 {
      background-image: url("https://i.imgur.com/HU0bX4P.jpg");
      background-position: top;
    }

    // 4. Vistani

    // viktor lazlo
    &--4-1 {
      background-image: url("https://i.imgur.com/DUF2lfE.png");
      background-position: top;
    }

    // madame eva
    &--4-2 {
      background-image: url("https://i.imgur.com/4TAGQ2R.jpg");
      background-position: top;
    }

    // tser pool
    &--4-4 {
      background-image: url("https://i.imgur.com/4ESFX6g.png");
      background-position: center;
    }

    // vallaki camp
    &--4-5 {
      background-image: url("https://i.imgur.com/BhKS1uC.png");
      background-position: top;
    }

    // luvash
    &--4-6 {
      background-image: url("https://i.imgur.com/zPDSJWv.png");
      background-position: top;
    }

    // arrigal
    &--4-7 {
      background-image: url("https://i.imgur.com/cJuJgQy.png");
      background-position: top;
    }

    // arabelle
    &--4-8 {
      background-image: url("https://i.imgur.com/mUPMdul.png");
      background-position: center;
    }

    // alexei
    &--4-9 {
      background-image: url("https://i.imgur.com/kJkTaka.png");
      background-position: center;
    }

    // kasimir
    &--4-10 {
      background-image: url("https://i.imgur.com/VbVKHji.png");
      background-position: top;
    }

    // dusk elves
    &--4-11 {
      background-image: url("https://i.imgur.com/q3lsE1z.png");
      background-position: center;
    }

    // vistani nomads
    &--4-12 {
      background-image: url("https://i.imgur.com/tyNOTjk.png");
      background-position: top;
    }

    // ez
    &--4-13 {
      background-image: url("https://i.imgur.com/Zs0iM18.png");
      background-position: top;
    }

    // 5. Keepers of the Feather

    // danika
    &--5-1 {
      background-image: url("https://i.imgur.com/t76siZc.png");
      background-position: top;
    }

    // urwin
    &--5-2 {
      background-image: url("https://i.imgur.com/se3nVYA.png");
      background-position: top;
    }

    // brom
    &--5-3 {
      background-image: url("https://i.imgur.com/BkKm4Az.png");
      background-position: center;
    }

    // bray
    &--5-4 {
      background-image: url("https://i.imgur.com/zHZCDfN.png");
      background-position: center;
    }

    // adrian
    &--5-5 {
      background-image: url("https://i.imgur.com/difX7Fx.png");
      background-position: center;
    }

    // davian
    &--5-6 {
      background-image: url("https://i.imgur.com/07MZIud.png");
      background-position: top;
    }

    // elvir
    &--5-7 {
      background-image: url("https://i.imgur.com/XKjOKyS.png");
      background-position: center;
    }

    // stefania
    &--5-8 {
      background-image: url("https://i.imgur.com/8Ipfxo5.png");
      background-position-y: 15%;
    }

    // dag
    &--5-9 {
      background-image: url("https://i.imgur.com/h4eOBpz.png");
      background-position: top;
    }

    // four children. including baby
    &--5-10 {
      background-image: url("https://i.imgur.com/QaO9vpj.png");
      background-position: center;
    }

    // paint drop
    &--5-11 {
      background-image: url("https://i.imgur.com/rNRl0Yz.png");
      background-position: center;
    }

    // 6. Order of the Silver Dragon

    // argonvost
    &--6-1 {
      background-image: url("https://i.imgur.com/gMBEsmH.png");
      background-position: center;
    }

    // vladimir
    &--6-2 {
      background-image: url("https://i.imgur.com/8s2uE3q.png");
      background-position: center;
    }

    // godfrey
    &--6-3 {
      background-image: url("https://i.imgur.com/I3Gc3uT.png");
      background-position: center;
    }

    // vlad revs
    &--6-4 {
      background-image: url("https://i.imgur.com/0IVdyxP.png");
      background-position: center;
    }

    // godfreys revs
    &--6-5 {
      background-image: url("https://i.imgur.com/ESpelam.png");
      background-position: center;
    }

    // erich
    &--6-6 {
      background-image: url("https://i.imgur.com/akPmTiU.png");
      background-position: center;
    }

    // damien
    &--6-7 {
      background-image: url("https://i.imgur.com/lslqYhu.png");
      background-position: top;
    }

    // arthund
    &--6-9 {
      background-image: url("https://i.imgur.com/TEMI1tp.png");
      background-position: center;
    }

    // robern
    &--6-8 {
      background-image: url("https://i.imgur.com/oicL9Ap.png");
      background-position: center;
    }

    // 7. Church of the Morning Lord

    // father donavich above in barovia section

    // lucien
    &--7-2 {
      background-image: url("https://i.imgur.com/rgYIjKd.png");
      background-position-y: 20%;
    }

    // franz
    &--7-3 {
      background-image: url("https://i.imgur.com/jT8iGgN.png");
      background-position: top;
    }

    // claudia
    &--7-4 {
      background-image: url("https://i.imgur.com/Ry4ksDE.png");
      background-position: center;
    }

    // milivoj
    &--7-5 {
      background-image: url("https://i.imgur.com/nYQC8VY.jpg");
      background-position: center;
    }

    // 8. Baron - Vallaki

    // baron
    &--8-1 {
      background-image: url("https://i.imgur.com/hHguveo.png");
      background-position: top;
    }

    // baroness
    &--8-2 {
      background-image: url("https://i.imgur.com/Uu6FNg4.png");
      background-position: top;
    }

    // izek
    &--8-3 {
      background-image: url("https://i.imgur.com/zwYIqcJ.png");
      background-position: center;
    }

    // victor
    &--8-4 {
      background-image: url("https://i.imgur.com/TZlpDIH.png");
      background-position: center;
    }

    // guards
    &--8-5 {
      background-image: url("https://i.imgur.com/mYrMJos.png");
      background-position: center;
    }

    // butler
    &--8-6 {
      background-image: url("https://i.imgur.com/6vkrtpj.png");
      background-position: top;
    }

    // 9. Wachterhaus

    // fiona
    &--9-1 {
      background-image: url("https://i.imgur.com/qLO3OuR.png");
      background-position: top;
    }

    // nikolai sr
    &--9-2 {
      background-image: url("https://i.imgur.com/jo9RNTW.png");
      background-position: top;
    }

    // ernst
    &--9-3 {
      background-image: url("https://i.imgur.com/VTYepBN.png");
      background-position: top;
    }

    // stella
    &--9-4 {
      background-image: url("https://i.imgur.com/jLxQzr1.png");
      background-position: top;
    }

    // nikolai jr
    &--9-5 {
      background-image: url("https://i.imgur.com/xd7dn5q.png");
      background-position: top;
    }

    // karl
    &--9-6 {
      background-image: url("https://i.imgur.com/PcJwUpU.png");
      background-position: top;
    }    

    //  10. Vallaki Merchants

    // dragoomir
    &--10-1 {
      background-image: url("https://i.imgur.com/9xMXn7l.png");
      background-position: top;
    }

    // alek
    &--10-2 {
      background-image: url("https://i.imgur.com/ezgNkJR.png");
      background-position: top;
    }

    // andrej
    &--10-3 {
      background-image: url("https://i.imgur.com/GkLBY9s.pngg");
      background-position: top;
    }

    // alana
    &--10-4 {
      background-image: url("https://i.imgur.com/qM3iqDT.png");
      background-position: top;
    }

    // harkus
    &--10-5 {
      background-image: url("https://i.imgur.com/CiucFK9.jpg");
      background-position: top;
    }

    // fatima
    &--10-6 {
      background-image: url("https://i.imgur.com/6M5oCvn.jpg");
      background-position: top;
    }

    // tural
    &--10-7 {
      background-image: url("https://i.imgur.com/LoWGZUj.jpg");
      background-position: center;
    }

    // bilbo
    &--10-8 {
      background-image: url("https://i.imgur.com/SrppwD9.jpg");
      background-position: center;
    }

    // ana
    &--10-9 {
      background-image: url("https://i.imgur.com/5nEcuuL.png");
      background-position: top;
    }

    // 11. Vallaki Citizens

    // rictavio
    &--11-1 {
      background-image: url("https://i.imgur.com/tYEzwNQ.png");
      background-position: center;
    }

    // blinsky
    &--11-2 {
      background-image: url("https://i.imgur.com/QefdavN.png");
      background-position: top;
    }

    // genie
    &--11-3 {
      background-image: url("https://i.imgur.com/W1VrGtT.png");
      background-position: center;
    }

    // ladies
    &--11-4 {
      background-image: url("https://i.imgur.com/OqbzSGS.png");
      background-position: top;
    }

    // vasili
    &--11-5 {
      background-image: url("https://i.imgur.com/3tdnSi9.png");
      background-position: top;
    }

    // henrik
    &--11-6 {
      background-image: url("https://i.imgur.com/YBZxjjh.png");
      background-position: top;
    }

    // bluto
    &--11-7 {
      background-image: url("https://i.imgur.com/RVBXqGV.png");
      background-position: top;
    }

    // lars
    &--11-8 {
      background-image: url("https://i.imgur.com/iNCA7ea.jpg");
      background-position: top;
    }

    // orphans
    &--11-9 {
      background-image: url("https://i.imgur.com/rMeg8Jx.png");
      background-position: top;
    }

    // felix
    &--11-10 {
      background-image: url("https://i.imgur.com/EpTyfoZ.png");
      background-position: top;
    }

    // hair puller
    &--11-11 {
      background-image: url("https://i.imgur.com/3V86wmr.png");
      background-position: top;
    }

    // lizard boy
    &--11-12 {
      background-image: url("https://i.imgur.com/2n73COe.jpg");
      background-position: top;
    }

    // ace
    &--11-13 {
      background-image: url("https://i.imgur.com/OpBoXpH.jpg");
      background-position: center;
    }

    // szoldar
    &--11-14 {
      background-image: url("https://i.imgur.com/J3BbMEv.png");
      background-position: top;
    }

    // yevgeni
    &--11-15 {
      background-image: url("https://i.imgur.com/ikZfS2x.png");
      background-position: top;
    }

    // piccolo
    &--11-16 {
      background-image: url("https://i.imgur.com/TH9vapW.png");
      background-position: top;
    }

    // ramses
    &--11-17 {
      background-image: url("https://i.imgur.com/ZwGamsr.png");
      background-position: top;
    }

    // 13 Witches & Cults

    // priests of osybus
    &--12-1 {
      background-image: url("https://i.imgur.com/v0UJOI8.png");
      background-position: top;
    }

    // Gustav & Elizabeth Durst above in Village of Barovia

    // mill witches
    &--12-4 {
      background-image: url("https://i.imgur.com/OVBsusR.png");
      background-position: top;
    }

    // Bella
    &--12-5 {
      background-image: url("https://i.imgur.com/8KHprnt.png");
      background-position: top;
    }

    // Ophelia
    &--12-6 {
      background-image: url("https://i.imgur.com/RXoVXmW.png");
      background-position: top;
    }

    // Morgantha
    &--12-7 {
      background-image: url("https://i.imgur.com/p7NId0c.png");
      background-position: top;
    }

    // ravenloft witches
    &--12-8 {
      background-image: url("https://i.imgur.com/yZG0VQI.png");
      background-position: top;
    }

    // kavani druids
    &--12-9 {
      background-image: url("https://i.imgur.com/KSYMOqH.png");
      background-position: top;
    }

    // Gaine
    &--12-10 {
      background-image: url("https://i.imgur.com/VoYlJs4.png");
      background-position: top;
    }

    // Salali
    &--12-11 {
      background-image: url("https://i.imgur.com/zFeuyQZ.png");
      background-position: top;
    }

    // Echo
    &--12-12 {
      background-image: url("https://i.imgur.com/YkfPLBR.png");
      background-position: top;
    }

    // winery druids
    &--12-13 {
      background-image: url("https://i.imgur.com/2DdxjJp.png");
      background-position: top;
    }

    // Gulthias Holder
    &--12-14 {
      background-image: url("https://i.imgur.com/0w6Wqx2.png");
      background-position: top;
    }

    // 14 - Creatures 

    // Wolf
    &--14-1 {
      background-image: url("https://i.imgur.com/FchATzr.png");
      background-position: top;
    }
    // Ghost
    &--14-2 {
      background-image: url("https://i.imgur.com/BSf0lL6.png");
      background-position: top;
    }
    // Animated Armor
    &--14-3 {
      background-image: url("https://i.imgur.com/TeqirPq.png");
      background-position: top;
    }
    // Animated Broom
    &--14-4 {
      background-image: url("https://i.imgur.com/qIFem41.png");
      background-position: bottom;
    }
    // Flesh Mound
    &--14-5 {
      background-image: url("https://i.imgur.com/inlnQP8.png");
      background-position: top;
    }
    // Dire Wolf
    &--14-6 {
      background-image: url("https://i.imgur.com/Un8MIPO.pngg");
      background-position-y: 20%;
    }
    // Revenant
    &--14-7 {
      background-image: url("https://i.imgur.com/MRV3Uvp.png");
      background-position: top;
    }
    // Skeleton
    &--14-8 {
      background-image: url("https://i.imgur.com/MbQkuxZ.png");
      background-position-y: 20%;
    }
    // Zombie
    &--14-9 {
      background-image: url("https://i.imgur.com/uRYQa0I.png");
      background-position: top;
    }
    // Vampire Spawn
    &--14-10 {
      background-image: url("https://i.imgur.com/EK3IakO.png");
      background-position: top;
    }
    // Bat
    &--14-11 {
      background-image: url("https://i.imgur.com/o8uk0mv.png");
      background-position: bottom;
    }
    // Mimic
    &--14-12 {
      background-image: url("https://i.imgur.com/uHvJOv1.png");
      background-position: top;
    }
    // Smoke Mephit
    &--14-13 {
      background-image: url("https://i.imgur.com/mId5MjR.png");
      background-position-y: 80%;
    }
    // Phantom Warrior
    &--14-14 {
      background-image: url("https://i.imgur.com/GKocPLC.png");
      background-position-y: 30%;
    }
    // Scarecrow
    &--14-15 {
      background-image: url("https://i.imgur.com/r2Tqbat.png");
      background-position: top;
    }
    // Red Dragon Wyrmling
    &--14-16 {
      background-image: url("https://i.imgur.com/eTV0kyQ.png");
      background-position: top;
    }
    // Gargoyle
    &--14-17 {
      background-image: url("https://i.imgur.com/WbNjTLi.png");
      background-position: top;
    }
    // Twig Blights
    &--14-18 {
      background-image: url("https://i.imgur.com/gwflAR2.png");
      background-position: top;
    }
    // Needle Blights
    &--14-19 {
      background-image: url("https://i.imgur.com/c1FQ3g3.png");
      background-position: top;
    }
    // Vine Blight
    &--14-20 {
      background-image: url("https://i.imgur.com/LusaZ0u.png");
      background-position-y: 30%;
    }
    // Flameskull
    &--14-21 {
      background-image: url("https://i.imgur.com/X7kl2pr.png");
      background-position-y: 70%;
    }
    // Amber Golem
    &--14-22 {
      background-image: url("https://i.imgur.com/koRNfiJ.png");
      background-position: top;
    }
    // Roc
    &--14-23 {
      background-image: url("https://i.imgur.com/nNfX6Mw.png");
      background-position: top;
    }
    // Tree Blight
    &--14-24 {
      background-image: url("https://i.imgur.com/JYG1BK9.png");
      background-position: top;
    }
  }
}