.npc-card {
  background-color: $color-grey-dark-1;
  border-radius: 3px;
  transition: all .4s;

  height: 80rem;
  width: 40rem;

  @include respond(tab-land) {
    height: 60rem;
  }

  @include respond(desktop) {
    height: 54rem;
    width: 33rem;
  }

  &:hover {
    transform: scale(.97)
  }

  &__heading{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1rem;
    font-family: $font-header-2;
    color: $color-primary-light;
  }

  &__description {
    padding: 2rem;
    text-align: center;
  }

  &__bonds {
    text-align: center;
    font-size: 2rem;
  }

  &__img {
    background-size: cover;
    height: 25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    // village of barovia

    &--rose {
      background-image: url("https://i.imgur.com/IrTKHqP.jpg");
      background-position: center;
    }

    &--thorn {
      background-image: url("https://i.imgur.com/zvK212S.jpg");
      background-position: center;
    }

    &--gustav {
      background-image: url("https://i.imgur.com/c5F4D19.jpg");
      background-position: center;
    }

    &--elizabeth {
      background-image: url("https://i.imgur.com/otQXN1s.jpg");
      background-position: center;
    }

    &--walter {
      background-image: url("https://i.imgur.com/l2cD0Wh.jpg");
      background-position: center;
    }

    &--nursemaid {
      background-image: url("https://i.imgur.com/TPaXcpo.png");
      background-position: center;
    }

    &--mrs-cobb {
      background-image: url("https://i.imgur.com/Gd7Sfuw.jpg");
      background-position: top;
    }

    &--mr-cobb {
      background-image: url("https://i.imgur.com/WMynXM9.jpg");
      background-position: top;
    }

    &--kolyan-indirovich {
      background-image: url("https://i.imgur.com/tAjmnfI.jpg");
      background-position: top;
    }
    
    &--ismark-indirovich {
      background-image: url("https://i.imgur.com/R0aJebI.jpg");
      background-position: center;
    }

    &--ireena-kolyana {
      background-image: url("https://i.imgur.com/5iWx4Sl.png");
      background-position: top;
    }

    &--parriwimple {
      background-image: url("https://i.imgur.com/FBIPhZK.png");
      background-position: top;
    }

    &--bildrath {
      background-image: url("https://i.imgur.com/XVWw2G1.png");
      background-position: top;
    }

    &--father-donavich {
      background-image: url("https://i.imgur.com/jr6osuv.jpg");
      background-position: top;
    }

    &--doru {
      background-image: url("https://i.imgur.com/AprGNcu.png");
      background-position: center;
    }

    &--mad-mary {
      background-image: url("https://i.imgur.com/96kr5JK.jpg");
      background-position: center;
    }

    &--lancelot {
      background-image: url("https://i.imgur.com/BNcaXW9.jpg");
      background-position: top;
    }

    &--tavern-owners {
      background-image: url("https://i.imgur.com/HU0bX4P.jpg");
      background-position: top;
    }

    // Castle Ravenloft

    &--strahd {
      background-image: url("https://i.imgur.com/LTsLbQk.png");
      background-position: center;
    }

    &--bucephalus {
      background-image: url("https://i.imgur.com/ncyiGNK.png");
      background-position: top;
    }

    &--anastrasya {
      background-image: url("https://i.imgur.com/oPDH0ls.jpg");
      background-position: top;
    }

    &--volenta {
      background-image: url("https://i.imgur.com/m1q8zC7.png");
      background-position: top;
    }

    &--ludmilla {
      background-image: url("https://i.imgur.com/YoAb0kL.png");
      background-position: top;
    }

    &--escher {
      background-image: url("https://i.imgur.com/naoNg7C.png");
      background-position: top;
    }

    &--rahadin {
      background-image: url("https://i.imgur.com/CEgKJ5p.png");
      background-position: top;
    }

    &--accountant {
      background-image: url("https://i.imgur.com/KU3FLwC.png");
      background-position: top;
    }

    &--cyrus-belview {
      background-image: url("https://i.imgur.com/3wcInwz.png");
      background-position: top;
    }

    &--cyrus-belview {
      background-image: url("https://i.imgur.com/3wcInwz.png");
      background-position: top;
    }

    // Vistani

    &--viktor-lazlo {
      background-image: url("https://i.imgur.com/DUF2lfE.png");
      background-position: top;
    }

    &--madame-eva {
      background-image: url("https://i.imgur.com/4TAGQ2R.jpg");
      background-position: top;
    }

    &--tser-pool {
      background-image: url("https://i.imgur.com/4ESFX6g.png");
      background-position: center;
    }

    &--vallaki-camp {
      background-image: url("https://i.imgur.com/BhKS1uC.png");
      background-position: top;
    }

    &--luvash {
      background-image: url("https://i.imgur.com/zPDSJWv.png");
      background-position: top;
    }

    &--arrigal {
      background-image: url("https://i.imgur.com/cJuJgQy.png");
      background-position: top;
    }

    &--arabelle {
      background-image: url("https://i.imgur.com/mUPMdul.png");
      background-position: center;
    }

    &--alexei {
      background-image: url("https://i.imgur.com/kJkTaka.png");
      background-position: center;
    }

    &--kasimir {
      background-image: url("https://i.imgur.com/VbVKHji.png");
      background-position: top;
    }

    &--dusk-elves {
      background-image: url("https://i.imgur.com/q3lsE1z.png");
      background-position: center;
    }

    &--vistani-nomads {
      background-image: url("https://i.imgur.com/tyNOTjk.png");
      background-position: top;
    }

    &--ezmerelda {
      background-image: url("https://i.imgur.com/Zs0iM18.png");
      background-position: top;
    }

    // Keepers of the Feather

    &--danika-dorakova {
      background-image: url("https://i.imgur.com/t76siZc.png");
      background-position: top;
    }

    &--urwin-martikov {
      background-image: url("https://i.imgur.com/se3nVYA.png");
      background-position: top;
    }

    &--brom-martikov {
      background-image: url("https://i.imgur.com/BkKm4Az.png");
      background-position: center;
    }

    &--bray-martikov {
      background-image: url("https://i.imgur.com/zHZCDfN.png");
      background-position: center;
    }

    // Order of the Silver Dragon

    &--argynvost {
      background-image: url("https://i.imgur.com/gMBEsmH.png");
      background-position: center;
    }

    &--vladimir-horngaard {
      background-image: url("https://i.imgur.com/8s2uE3q.png");
      background-position: center;
    }

    &--godfrey-gilwyn {
      background-image: url("https://i.imgur.com/I3Gc3uT.png");
      background-position: center;
    }

    &--vladimirs-revenants {
      background-image: url("https://i.imgur.com/0IVdyxP.png");
      background-position: center;
    }

    &--godfreys-revenants {
      background-image: url("https://i.imgur.com/ESpelam.png");
      background-position: center;
    }

    &--erich-norinthaal {
      background-image: url("https://i.imgur.com/akPmTiU.png");
      background-position: center;
    }

    &--damien-hargrove {
      background-image: url("https://i.imgur.com/lslqYhu.png");
      background-position: top;
    }

    &--arthund-boarwin {
      background-image: url("https://i.imgur.com/TEMI1tp.png");
      background-position: center;
    }

    &--robern-teray {
      background-image: url("https://i.imgur.com/oicL9Ap.png");
      background-position: center;
    }

    // Church of the Morning Lord

    // father donavich above in barovia section

    &--lucien-petrovich {
      background-image: url("https://i.imgur.com/rgYIjKd.png");
      background-position: top;
    }

    &--franz-petrovich {
      background-image: url("https://i.imgur.com/jT8iGgN.png");
      background-position: top;
    }

    &--claudia-belasco {
      background-image: url("https://i.imgur.com/Ry4ksDE.png");
      background-position: center;
    }

    &--milivoj {
      background-image: url("https://i.imgur.com/nYQC8VY.jpg");
      background-position: center;
    }
  }
}