.npc-card {
  background-color: $color-grey-dark-1;
  border-radius: 3px;
  transition: all .4s;

  height: 80rem;
  width: 40rem;

  @include respond(tab-land) {
    height: 60rem;
  }

  @include respond(desktop) {
    height: 54rem;
    width: 33rem;
  }

  &:hover {
    transform: scale(.97)
  }

  &__heading{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1rem;
    font-family: $font-header-2;
    color: $color-primary-light;
  }

  &__description {
    padding: 2rem;
    text-align: center;
  }

  &__bonds {
    text-align: center;
    font-size: 2rem;
  }

  &__img {
    background-size: cover;
    height: 25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;

    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    &--rose {
      background-image: url("https://i.imgur.com/IrTKHqP.jpg");
      background-position: center;
    }

    &--thorn {
      background-image: url("https://i.imgur.com/zvK212S.jpg");
      background-position: center;
    }

    &--gustav {
      background-image: url("https://i.imgur.com/c5F4D19.jpg");
      background-position: center;
    }

    &--elizabeth {
      background-image: url("https://i.imgur.com/otQXN1s.jpg");
      background-position: center;
    }

    &--walter {
      background-image: url("https://i.imgur.com/l2cD0Wh.jpg");
      background-position: center;
    }

    &--nursemaid {
      background-image: url("https://i.imgur.com/TPaXcpo.png");
      background-position: center;
    }

    &--mrs-cobb {
      background-image: url("https://i.imgur.com/Gd7Sfuw.jpg");
      background-position: top;
    }

    &--mr-cobb {
      background-image: url("https://i.imgur.com/WMynXM9.jpg");
      background-position: top;
    }

    &--kolyan-indirovich {
      background-image: url("https://i.imgur.com/tAjmnfI.jpg");
      background-position: top;
    }
    
    &--ismark-indirovich {
      background-image: url("https://i.imgur.com/R0aJebI.jpg");
      background-position: center;
    }

    &--ireena-kolyana {
      background-image: url("https://i.imgur.com/5iWx4Sl.png");
      background-position: top;
    }

    &--parriwimple {
      background-image: url("https://i.imgur.com/FBIPhZK.png");
      background-position: top;
    }

    &--bildrath {
      background-image: url("https://i.imgur.com/XVWw2G1.png");
      background-position: top;
    }

    &--father-donavich {
      background-image: url("https://i.imgur.com/jr6osuv.jpg");
      background-position: top;
    }

    &--doru {
      background-image: url("https://i.imgur.com/AprGNcu.png");
      background-position: center;
    }

    &--mad-mary {
      background-image: url("https://i.imgur.com/96kr5JK.jpg");
      background-position: center;
    }

    &--lancelot {
      background-image: url("https://i.imgur.com/BNcaXW9.jpg");
      background-position: top;
    }

    &--tavern-owners {
      background-image: url("https://i.imgur.com/HU0bX4P.jpg");
      background-position: top;
    }
  }
}