.shop {
  // border: 5px solid red;
  width: 100%;
  
  // overflow: scroll;
  position: relative;
  text-align: center;
  height: 35rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;

  @include respond(tab-land) {
    height: 29rem;
    margin-bottom: 4rem;
  }
  @include respond(desktop) {
    height: 26rem;

  }

  &__banner {
    display: block;
    border-radius: 3px;
    position: absolute;
    min-width: 45rem;

    &--1 {
      background-color: grey;
    }

    &--2 {
      background-color: darken(lightblue, 10%);
    }

    &--3 {
      background-color: darken(#f9cb9c, 15%);
    }

    &--4 {
      background-color: #bf9000;
    }

    &--5 {
      background-color: darken(#ffe599, 15%);
    }

    &--6 {
      background-color: #93c47d;
    }

    &--7 {
      background-color: #c27ba0;
    }
  }

  &__icon {
    float: left;
    font-size: 7rem;
    margin: 0 2rem;
    padding: 1rem 0;
    padding-top: 2rem;
    color: black;
  }

  &__header {
    padding: 1rem 0;
    color: black;
    padding-top: 3rem;
    padding-right: 2.1rem;
    
    &--main {
      display: block;
      font-size: 2rem;
      font-family: $font-header;
    }

    &--sub {
      display: block;
      font-size: 1.5rem;
    }
  }

  &__table {
    display: block;
    // background-color: grey;
    color: white;
    // border: 4px solid blue;
    border-radius: 3px;
    position: absolute;
    top: 16rem;

    @include respond(tab-land) {
      top: 16rem;
      padding: 2rem;
    }
  }

}