.shop {
  // border: 5px solid red;
  width: 100%;
  height: 24rem;
  // overflow: scroll;
  position: relative;
  text-align: center;

  &__banner {
    display: block;
    border-radius: 3px;
    position: absolute;
    min-width: 45rem;

    &--1 {
      background-color: grey;
    }
  }

  &__icon {
    float: left;
    font-size: 7rem;
    margin: 0 2rem;
    padding: 1rem 1rem;
    padding-top: 2rem;
    color: black;
  }

  &__header {
    padding: 1rem 0;
    
    &--main {
      display: block;
      font-size: 2rem;
      font-family: $font-header;
    }

    &--sub {
      display: block;
      font-size: 1.5rem;
    }
  }

  &__table {
    display: block;
    background-color: grey;
    color: white;
    // border: 4px solid blue;
    border-radius: 3px;
    position: absolute;
    top: 13rem;
  }

}