.characters-header {
  height: 400px;
  width: 100vw;
  position: relative;
  margin-bottom: 3rem;

  &__textbox {
    position: absolute;
    left: 10%;
    top: 35%;
    font-family: $font-header-2;
    font-size: 6rem;
    color: $color-primary-light;

    &--main {

    }

    &--sub {
      display: block;
      font-family: $font-nav;
    }
  }

  &__description {
    height: fit-content;
    width: 90%;
    background-color: $color-grey-dark-1;
    border-radius: 1rem;
    margin: 0px auto;
    margin-bottom: 3rem;
    padding: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    color: $color-white-soft;
  }

  &--1 {
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-black, 0.8), 
      rgba(brown, 0.4)), 
      url("https://i.imgur.com/1i4TXxO.png");
    background-size: cover;
    background-position-y: 80%;
  }

  &--2 {
    background-image: url("https://i.imgur.com/a2HyvWE.png");
    background-size: cover;
    background-position-y: 80%;
  }

  &--3 {
    background-image:  linear-gradient(
      to right bottom, 
      rgba($color-black, 0.9), 
      rgba(blue, 0.1)), 
      url("https://i.imgur.com/AI3WQy2.png");
    background-size: cover;
    background-position-y: 80%;
  }

  &--4 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, 0.8), 
      rgba(green, 0.1)), 
      url("https://i.imgur.com/MP7t9MN.jpg");
    background-size: cover;
    background-position-y: 70%;
  }

  // keepers of the feather
  &--5 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .9), 
      rgba($color-black, 0.7)), 
      url("https://i.imgur.com/sgHpAjH.png");
    background-size: cover;
    background-position-y: 15%;
  }

  &--6 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .4), 
      rgba($color-black, 0.2)), 
      url("https://i.imgur.com/BdWhZ1x.png");
    background-size: cover;
    background-position-y: 28%;
  }

  &--7 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .8), 
      rgba(brown, 0.2)), 
      url("https://i.imgur.com/8A8u4gR.png");
    background-size: cover;
    background-position-y: top;
  }
  
  &--8 {
    background-image:   
      url("https://i.imgur.com/DSebl5S.png");
    background-size: cover;
    background-position-y: 30%;
  }

  &--9 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-primary-dark, .6), 
      rgba(gold, 0.1)), 
      url("https://i.imgur.com/cy3XEDi.png");
    background-size: cover;
    background-position-y: 40%;
  }

  &--10 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .8), 
      rgba(purple, 0.4)), 
      url("https://i.imgur.com/yZeW8Ar.png");
    background-size: cover;
    background-position-y: 50%;
  }

  &--11 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .6), 
      rgba($color-black, 0.5)), 
      url("https://i.imgur.com/U5otWmP.png");
    background-size: cover;
    background-position-y: 50%;
  }

  &--12 {
    background-image:   linear-gradient(
      to right bottom, 
      rgba($color-black, .5), 
      rgba($color-black, 0.7)), 
      url("https://i.imgur.com/AJ3pwmx.jpg");
    background-size: cover;
    background-position-y: 20%;
  }

  // &--13 {
  //   background-image:   linear-gradient(
  //     to right bottom, 
  //     rgba($color-black, .6), 
  //     rgba($color-black, 0.2)), 
  //     url("https://i.imgur.com/616cC9W.png");
  //   background-size: cover;
  //   background-position-y: 50%;
  // }

  &--13 {
    background-image:   
      url("https://i.imgur.com/XqiZzw3.png");
    background-size: cover;
    background-position-y: 50%;
  }

}