.home {
  // border: 3px solid white;

  display: grid;
  grid-template-rows: [header-start] 20vh [header-end nav-start] 9vh [nav-end description-start] 1fr  [description-end most-recent-start] 150vh [most-recent-end tarroka-start] 40vh [tarroka-end bonus-start] 40vh [bonus-end death-house-start] 40vh [death-house-end footer-start] 1fr [footer-end];
  // Header, Nav, Description, Most recent Adventure, Madame Eva's Tarroka Reading, Bonus Content, Footer

  row-gap: 3rem;

  grid-template-columns: [page-horizontal-start] 2rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 2rem [home-horizontal-end];

  @include respond(tab-land) {
    grid-template-columns: [page-horizontal-start] 5rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 5rem [home-horizontal-end];
  }

  @include respond(desktop){
    grid-template-columns: [page-horizontal-start] 10rem [left-gutter main-content-start] 1fr [main-content-end right-gutter] 10rem [home-horizontal-end];
  }
  

  &__placeholder{

    &--1 {
      grid-column: 2 / 3;
      grid-row: tarroka-start / tarroka-end;
      background-color: orangered;
    }

    &--2 {
      grid-column: 2 / 3;
      grid-row: bonus-start / bonus-end;

      background-color: purple;
    }
  } 
}