.title {
  height: 50vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 70%, 70% 70%, 60% 100%, 60% 75%, 40% 75%, 40% 100%, 30% 70%, 0 70%, 0 0);
  
  animation: scaleDown 1.5s ease-out;

  &__textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px;

    & h1 {
      animation: fadeIn 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: .5s;
    }

    & a {
      animation: fadeIn .5s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s;
    }

  }
}



