.title {
  height: 50vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url("https://i.imgur.com/OGws4K3.png");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  // clip-path: polygon(100% 0, 100% 70%, 70% 70%, 60% 100%, 60% 75%, 40% 75%, 40% 100%, 30% 70%, 0 70%, 0 0);
//   clip-path: polygon(0 0, 100% 0, 100% 80%, 60% 100%, 70% 80%, 30% 80%, 40% 100%, 0 80%);
//   clip-path: polygon(0% 15%, 25% 20%, 0 0, 100% 0, 75% 20%, 100% 15%, 100% 85%, 75% 80%, 100% 100%, 0 100%, 25% 80%, 0% 85%);
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 85%, 20% 85%, 0 100%);
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 70%, 15% 70%, 0 100%);
//   // clip-path: polygon(100% 0, 100% 100%, 85% 70%, 70% 100%, 50% 75%, 30% 100%, 15% 70%, 0 100%, 0 0);
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 75%, 50% 100%, 20% 75%, 0 100%);

//   -webkit-clip-path: polygon(0 20%, 20% 20%, 20% 10%, 14% 3%, 25% 0, 35% 4%, 30% 11%, 30% 20%, 46% 20%, 60% 20%, 60% 10%, 53% 0, 65% 0, 78% 0, 70% 10%, 70% 20%, 100% 20%, 100% 100%, 80% 75%, 50% 100%, 20% 75%, 0 100%);
// clip-path: polygon(0 20%, 20% 20%, 20% 10%, 14% 3%, 25% 0, 35% 4%, 30% 11%, 30% 20%, 46% 20%, 60% 20%, 60% 10%, 53% 0, 65% 0, 78% 0, 70% 10%, 70% 20%, 100% 20%, 100% 100%, 80% 75%, 50% 100%, 20% 75%, 0 100%);
clip-path: polygon(50% 0, 80% 25%, 100% 0, 100% 100%, 80% 75%, 50% 100%, 20% 75%, 0 100%, 0 0, 20% 25%);
  
  animation: scaleDown 1.5s ease-out;

  &__textbox {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 300px;

    & h1 {
      animation: fadeIn 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: .5s;
    }

    & a {
      animation: fadeIn .5s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s;
    }

  }
}



